In [186]:
from collections import defaultdict
import numpy as np
import pandas as pd
import json
from sqlalchemy import create_engine
from qpl_to_cte import flat_qpl_to_cte

from datasets import load_dataset
from validate_qpl import same_rs

In [38]:
dataset_id = "bgunlp/spider-qpl"
gold_df = load_dataset(dataset_id, token=True)['validation'].to_pandas().rename(columns={'qpl':'gold_qpl'})

In [11]:
df

,id,db_id,question,query,difficulty,qpl,prefixed_qpl,cte,clean_query
0,e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...,concert_singer,How many singers do we have?,SELECT count ( * ) AS Count_Star FROM concert_...,easy,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,concert_singer | #1 = Scan Table [ singer ] Ou...,WITH Scan_1 AS ( SELECT 1 AS One FROM concert_...,SELECT count ( * ) AS Count_Star FROM concert_...
1,de71b4f79c1ad3c71f523f6436acef9f69f5ca098b441f...,concert_singer,What is the total number of singers?,SELECT count ( * ) AS Count_Star FROM concert_...,easy,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,concert_singer | #1 = Scan Table [ singer ] Ou...,WITH Scan_1 AS ( SELECT 1 AS One FROM concert_...,SELECT count ( * ) AS Count_Star FROM concert_...
2,e394ac9df4f6eff3fff54c2cd85d37190b1ae1f4e30dd6...,concert_singer,"Show name, country, age for all singers ordere...","SELECT name , country , age FROM concert_singe...",medium,"#1 = Scan Table [ singer ] Output [ Name , Cou...",concert_singer | #1 = Scan Table [ singer ] Ou...,"WITH Scan_1 AS ( SELECT Name, Country, Age FRO...","SELECT name , country , age FROM concert_singe..."
3,b67ff822c24588338ffb03a8d5dfa10d171e0b5e7187fc...,concert_singer,"What are the names, countries, and ages for ev...","SELECT name , country , age FROM concert_singe...",medium,"#1 = Scan Table [ singer ] Output [ Name , Cou...",concert_singer | #1 = Scan Table [ singer ] Ou...,"WITH Scan_1 AS ( SELECT Name, Country, Age FRO...","SELECT name , country , age FROM concert_singe..."
4,53334ecd19e94f941108a87084020b87e9f5c41dc547b0...,concert_singer,"What is the average, minimum, and maximum age ...","SELECT avg ( age ) AS Avg_age , min ( age ) AS...",medium,#1 = Scan Table [ singer ] Predicate [ Country...,concert_singer | #1 = Scan Table [ singer ] Pr...,"WITH Scan_1 AS ( SELECT Country, Age FROM conc...","SELECT avg ( age ) AS Avg_age , min ( age ) AS..."
...,...,...,...,...,...,...,...,...,...
1029,341f8b90b4223634d3f86dfbdbdb6e798b7ae3bffe8641...,singer,What are the citizenships that are shared by s...,SELECT Citizenship FROM singer.singer WITH (FO...,hard,#1 = Scan Table [ singer ] Predicate [ Birth_Y...,singer | #1 = Scan Table [ singer ] Predicate ...,"WITH Scan_1 AS ( SELECT DISTINCT Citizenship, ...",SELECT Citizenship FROM singer.singer WHERE B...
1030,b3221e9c112854ef99fba5d334b12427914fef6cde2244...,real_estate_properties,How many available features are there in total?,SELECT count ( * ) AS Count_Star FROM real_est...,easy,#1 = Scan Table [ Other_Available_Features ] O...,real_estate_properties | #1 = Scan Table [ Oth...,WITH Scan_1 AS ( SELECT 1 AS One FROM real_est...,SELECT count ( * ) AS Count_Star FROM real_est...
1031,2eae79665e670663f892b02b5ab203781851af06ec08b9...,real_estate_properties,What is the feature type name of feature AirCon?,SELECT T2.feature_type_name FROM real_estate_p...,medium,#1 = Scan Table [ Other_Available_Features ] P...,real_estate_properties | #1 = Scan Table [ Oth...,"WITH Scan_1 AS ( SELECT feature_type_code, fea...",SELECT T2.feature_type_name FROM real_estate_p...
1032,767d8f34f1b268c7832d789fbb1f662604e9db7d49975f...,real_estate_properties,Show the property type descriptions of propert...,SELECT T2.property_type_description FROM real_...,medium,#1 = Scan Table [ Properties ] Distinct [ true...,real_estate_properties | #1 = Scan Table [ Pro...,WITH Scan_1 AS ( SELECT DISTINCT property_type...,SELECT T2.property_type_description FROM real_...
1033,226cd9a74a1b2e51610774012d114c254e10c37065ac9d...,real_estate_properties,What are the names of properties that are eith...,SELECT property_name FROM real_estate_properti...,hard,#1 = Scan Table [ Properties ] Predicate [ pro...,real_estate_properties | #1 = Scan Table [ Pro...,"WITH Scan_1 AS ( SELECT property_name, propert...",SELECT property_name FROM real_estate_properti...

In [23]:
engine = create_engine(
        "mssql+pyodbc://SA:Passw0rd!@0.0.0.0/spider?driver=ODBC+Driver+18+for+SQL+Server",
        connect_args = { "TrustServerCertificate": "yes" }
    )

In [22]:
engine.dispose()

In [7]:
res = pd.read_sql("select * from car_1.cars_data", engine)
print(res)
engine.dispose()

      Id   MPG  Cylinders  Edispl  Horsepower  Weight  Accelerate  Year
0      1  18.0          8   307.0       130.0    3504        12.0  1970
1      2  15.0          8   350.0       165.0    3693        11.5  1970
2      3  18.0          8   318.0       150.0    3436        11.0  1970
3      4  16.0          8   304.0       150.0    3433        12.0  1970
4      5  17.0          8   302.0       140.0    3449        10.5  1970
..   ...   ...        ...     ...         ...     ...         ...   ...
401  402  27.0          4   140.0        86.0    2790        15.6  1982
402  403  44.0          4    97.0        52.0    2130        24.6  1982
403  404  32.0          4   135.0        84.0    2295        11.6  1982
404  405  28.0          4   120.0        79.0    2625        18.6  1982
405  406  31.0          4   119.0        82.0    2720        19.4  1982

[406 rows x 8 columns]

In [162]:
gold_df.columns

Index(['id', 'db_id', 'question', 'query', 'difficulty', 'gold_qpl',
       'prefixed_qpl', 'cte', 'clean_query', 'gold_rs'],
      dtype='object')

In [161]:
dfs['nested_qpl'].merge(dfs['flat_qpl'], on='id')

,id,db_id_x,pred_qpl_x,pred_rs,gold_qpl,gold_rs,correct,qpl_type,Unnamed: 0.1,Unnamed: 0,...,pred_cte,gold_cte_results,pred_cte_results,same_rs,old_mssql_db_empty_rs,sqlite_db_rs,error,error_type,difficulty,len_qpl
0,e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...,concert_singer,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],True,nested_qpl,0,0,...,WITH Scan_1 AS ( SELECT 1 AS One FROM concert_...,[{'count_star': 6}],[{'count_star': 6}],True,NaN,NaN,NaN,NaN,easy,2
1,de71b4f79c1ad3c71f523f6436acef9f69f5ca098b441f...,concert_singer,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],True,nested_qpl,1,1,...,WITH Scan_1 AS ( SELECT 1 AS One FROM concert_...,[{'count_star': 6}],[{'count_star': 6}],True,NaN,NaN,NaN,NaN,easy,2
2,e394ac9df4f6eff3fff54c2cd85d37190b1ae1f4e30dd6...,concert_singer,"#1 = Scan Table [ singer ] Output [ Age, Count...","[{'Age': 52, 'Country': 'Netherlands', 'Name':...","#1 = Scan Table [ singer ] Output [ Name , Cou...","[{'Name': 'Joe Sharp', 'Country': 'Netherlands...",True,nested_qpl,2,2,...,"WITH Scan_1 AS ( SELECT Country, Name, Age FRO...","[{'name': 'Joe Sharp', 'country': 'Netherlands...","[{'country': 'Netherlands', 'name': 'Joe Sharp...",True,NaN,NaN,NaN,NaN,medium,2
3,b67ff822c24588338ffb03a8d5dfa10d171e0b5e7187fc...,concert_singer,"#1 = Scan Table [ singer ] Output [ Age, Count...","[{'Age': 52, 'Country': 'Netherlands', 'Name':...","#1 = Scan Table [ singer ] Output [ Name , Cou...","[{'Name': 'Joe Sharp', 'Country': 'Netherlands...",True,nested_qpl,3,3,...,"WITH Scan_1 AS ( SELECT Country, Name, Age FRO...","[{'name': 'Joe Sharp', 'country': 'Netherlands...","[{'name': 'Joe Sharp', 'country': 'Netherlands...",True,NaN,NaN,NaN,NaN,medium,2
4,53334ecd19e94f941108a87084020b87e9f5c41dc547b0...,concert_singer,#1 = Scan Table [ singer ] Predicate [ Country...,"[{'Max_Age': 43, 'Min_Age': 25, 'Avg_Age': 34}]",#1 = Scan Table [ singer ] Predicate [ Country...,"[{'Max_Age': 43, 'Min_Age': 25, 'Avg_Age': 34}]",True,nested_qpl,4,4,...,"WITH Scan_1 AS ( SELECT Country, Age FROM conc...","[{'min_age': 25, 'avg_age': 34, 'max_age': 43}]","[{'avg_age': 34, 'max_age': 43, 'min_age': 25}]",True,NaN,NaN,NaN,NaN,medium,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,341f8b90b4223634d3f86dfbdbdb6e798b7ae3bffe8641...,singer,#1 = Scan Table [ singer ] Predicate [ Birth_Y...,[{'Citizenship': 'United States'}],#1 = Scan Table [ singer ] Predicate [ Birth_Y...,[{'Citizenship': 'United States'}],True,nested_qpl,1029,1029,...,"WITH Scan_1 AS ( SELECT DISTINCT Birth_Year, C...",[{'citizenship': 'United States'}],[{'citizenship': 'United States'}],True,NaN,NaN,NaN,NaN,hard,3
1027,b3221e9c112854ef99fba5d334b12427914fef6cde2244...,real_estate_properties,#1 = Scan Table [ Other_Available_Features ] O...,[{'Count_Star': 3}],#1 = Scan Table [ Other_Available_Features ] O...,[{'Count_Star': 3}],True,nested_qpl,1030,1030,...,WITH Scan_1 AS ( SELECT 1 AS One FROM real_est...,[{'count_star': 3}],[{'count_star': 3}],True,NaN,NaN,NaN,NaN,easy,2
1028,2eae79665e670663f892b02b5ab203781851af06ec08b9...,real_estate_properties,#1 = Scan Table [ Other_Available_Features ] P...,"[{'feature_type_name': 'Amenity, eg Pool.'}]",#1 = Scan Table [ Other_Available_Features ] P...,"[{'feature_type_name': 'Amenity, eg Pool.'}]",True,nested_qpl,1031,1031,...,"WITH Scan_1 AS ( SELECT feature_type_code, fea...","[{'feature_type_name': 'Amenity, eg Pool.'}]","[{'feature_type_name': 'Amenity, eg Pool.'}]",True,NaN,NaN,NaN,NaN,medium,3
1029,767d8f34f1b268c7832d789fbb1f662604e9db7d49975f...,real_estate_properties,#1 = Scan Table [ Ref_Property_Types ] Output ...,"[{'property_type_description': 'House, Bungalo...",#1 = Scan Table [ Properties ] Distinct [ true...,"[{'property_type_description': 'Apartment, Fla...",False,nested_qpl,1032,1032,...,"WITH Scan_1 AS ( SELECT property_type_code, pr...","[{'property_type_description': 'Apartment, Fla...","[{'property_type_description': 'House, Bungalo...",False,NaN,"[('Apartment, Flat, Condo, etc.',), ('Field, M...",NaN,NaN,medium,3
1030,226cd9a74a1b2e51610774012d114c254e10c37065ac9d...,real_estate_properties,#1 = Scan Table [ Properties ] Predicate [ pro...,"[{'property_type_code': 'House', 'property_nam...",#1 = Scan Table [ Properties ] Predicate [ pro...,"[{'property_name': 'longacre'}, {'property_nam...",True,nested_qpl,1033,1033,...,"WITH Scan_1 AS ( SELECT property_type_code, pr...","[{'property_name': 'longacre'}, {'property_nam...",[],False,NaN,"[('longacre',), ('parc coliseum',), ('parc eas...",NaN,NaN,hard,3

In [73]:
dfs = {}
dfs['nested_qpl'] = pd.read_json("../nested_qpl/nested_qpl_results.json").query("epoch == 16")[['id', 'db_id', 'pred_qpl', 'pred_rs']]
dfs['yaml_qpl'] = pd.read_json("../yaml_qpl/yaml_qpl_results.json").query("epoch == 17")[['id', 'db_id', 'pred_qpl', 'pred_rs']]
dfs['dict_qpl'] =  pd.read_csv("../dict_qpl/dict_qpl_results.csv").query("epoch == 14")[['id', 'db_id', 'pred_qpl']]
dfs['flat_qpl'] =  pd.read_csv("../full_schema_predictions_with_num_steps.csv").rename(columns={'pred_cte_results': 'pred_rs'})[['id', 'db_id', 'pred_qpl', 'pred_rs']]
dfs['flat_qpl']['pred_qpl'] = dfs['flat_qpl']['pred_qpl'].str.split(' \| ').str[1]

In [177]:
def get_result_set(row, key='pred_qpl'):
    if not row[key]:
        return None
    try:
        pred_cte = flat_qpl_to_cte(row[key].split(" ; "), row['db_id'])
        return pd.read_sql(pred_cte, engine).to_dict(orient="records")
    except:
        return None

def get_pred_rs_correct(row):
    if pd.notnull(row[['pred_rs', 'gold_rs']]).all():
         return same_rs(row['gold_rs'], row['pred_rs'], row["gold_qpl"].split(" ; "))
    return False

In [90]:
gold_df['gold_rs'] = gold_df.apply(get_result_set, key='gold_qpl', axis=1)
for qpl_type in ['dict_qpl', 'flat_qpl']:
    cur_df = dfs[qpl_type]
    cur_df['pred_rs'] = cur_df.apply(get_result_set, axis=1)

In [155]:
for qpl_type, cur_df in dfs.items():
    cur_df['qpl_type'] = qpl_type
full_df = pd.concat([x[['qpl_type', 'id', 'db_id', 'pred_qpl', 'pred_rs']] for x in dfs.values()])
full_df = full_df.merge(gold_df[['id', 'gold_qpl', 'gold_rs', 'question', 'query', 'difficulty']], on='id', how='left')

In [163]:
full_df[full_df['gold_qpl'].isna()]

,qpl_type,id,db_id,pred_qpl,pred_rs,gold_qpl,gold_rs
3179,flat_qpl,27252c0db0413b8693acfca670aa3ed42cd52d470b30fa...,pets_1,#1 = Scan Table [ Student ] Predicate [ LName ...,[{'PetID': 2001}],NaN,NaN
3817,flat_qpl,02ea3ce3c1ca33852d94e1ec67b4c4456820afff93824f...,world_1,#1 = Scan Table [ country ] Predicate [ Name =...,"[{'LifeExpectancy': 62.900001525878906, 'Popul...",NaN,NaN
3821,flat_qpl,ead8406fcf8f5ac508a3fa2fee7f4eadfc597b2934367d...,world_1,#1 = Scan Table [ country ] Predicate [ Region...,[{'Avg_LifeExpectancy': 50.31111102634006}],NaN,NaN

In [ ]:
full_df = full_df.merge(gold_df[['id', 'gold_qpl', 'gold_rs', 'question', 'query', 'difficulty']], on='id', how='left')

In [178]:
full_df['correct'] = full_df.apply(get_pred_rs_correct, axis=1)

In [184]:
full_df.groupby('qpl_type')['correct'].sum()/1034

qpl_type
dict_qpl      0.707930
flat_qpl      0.745648
nested_qpl    0.733075
yaml_qpl      0.706963
Name: correct, dtype: float64

In [203]:
[pd.concat(l) for l in same_rs_groups['e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510f0029c9dee84948ba4']]

[qpl_type                                             flat_qpl
 id          e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...
 db_id                                          concert_singer
 pred_qpl    #1 = Scan Table [ singer ] Output [ 1 AS One ]...
 pred_rs                                   [{'Count_Star': 6}]
 gold_qpl    #1 = Scan Table [ singer ] Output [ 1 AS One ]...
 gold_rs                                   [{'Count_Star': 6}]
 correct                                                  True
 qpl_type                                             dict_qpl
 id          e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...
 db_id                                          concert_singer
 pred_qpl    #1 = Scan Table [ singer ] Output [ 1 AS One ]...
 pred_rs                                   [{'Count_Star': 6}]
 gold_qpl    #1 = Scan Table [ singer ] Output [ 1 AS One ]...
 gold_rs                                   [{'Count_Star': 6}]
 correct                                                  True
 qpl_type                                           nested_qpl
 id          e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...
 db_id                                          concert_singer
 pred_qpl    #1 = Scan Table [ singer ] Output [ 1 AS One ]...
 pred_rs                                   [{'Count_Star': 6}]
 gold_qpl    #1 = Scan Table [ singer ] Output [ 1 AS One ]...
 gold_rs                                   [{'Count_Star': 6}]
 correct                                                  True
 dtype: object,
 qpl_type                                             yaml_qpl
 id          e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...
 db_id                                          concert_singer
 pred_qpl    #1 = Scan Table [ singer ] Predicate [ Is_male...
 pred_rs                                   [{'Count_Star': 2}]
 gold_qpl    #1 = Scan Table [ singer ] Output [ 1 AS One ]...
 gold_rs                                   [{'Count_Star': 6}]
 correct                                                 False
 Name: 1034, dtype: object]

In [200]:
len(same_rs_groups)

1037

In [217]:
final_df['correct'].sum()/1037

0.7714561234329798

In [215]:
final_df = pd.concat(final_rows)
final_df

,qpl_type,id,db_id,pred_qpl,pred_rs,gold_qpl,gold_rs,correct
3102,flat_qpl,e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...,concert_singer,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],True
3103,flat_qpl,de71b4f79c1ad3c71f523f6436acef9f69f5ca098b441f...,concert_singer,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],#1 = Scan Table [ singer ] Output [ 1 AS One ]...,[{'Count_Star': 6}],True
3104,flat_qpl,e394ac9df4f6eff3fff54c2cd85d37190b1ae1f4e30dd6...,concert_singer,"#1 = Scan Table [ singer ] Output [ Country, N...","[{'Country': 'Netherlands', 'Name': 'Joe Sharp...","#1 = Scan Table [ singer ] Output [ Name , Cou...","[{'Name': 'Joe Sharp', 'Country': 'Netherlands...",True
3105,flat_qpl,b67ff822c24588338ffb03a8d5dfa10d171e0b5e7187fc...,concert_singer,"#1 = Scan Table [ singer ] Output [ Country, N...","[{'Name': 'Joe Sharp', 'Country': 'Netherlands...","#1 = Scan Table [ singer ] Output [ Name , Cou...","[{'Name': 'Joe Sharp', 'Country': 'Netherlands...",True
3106,flat_qpl,53334ecd19e94f941108a87084020b87e9f5c41dc547b0...,concert_singer,#1 = Scan Table [ singer ] Predicate [ Country...,"[{'Avg_Age': 34, 'Max_Age': 43, 'Min_Age': 25}]",#1 = Scan Table [ singer ] Predicate [ Country...,"[{'Max_Age': 43, 'Min_Age': 25, 'Avg_Age': 34}]",True
...,...,...,...,...,...,...,...,...
4134,flat_qpl,767d8f34f1b268c7832d789fbb1f662604e9db7d49975f...,real_estate_properties,#1 = Scan Table [ Ref_Property_Types ] Output ...,"[{'property_type_description': 'House, Bungalo...",#1 = Scan Table [ Properties ] Distinct [ true...,"[{'property_type_description': 'Apartment, Fla...",False
3101,dict_qpl,226cd9a74a1b2e51610774012d114c254e10c37065ac9d...,real_estate_properties,#1 = Scan Table [ Properties ] Predicate [ roo...,"[{'property_type_code': 'House', 'property_nam...",#1 = Scan Table [ Properties ] Predicate [ pro...,"[{'property_name': 'longacre'}, {'property_nam...",True
3179,flat_qpl,27252c0db0413b8693acfca670aa3ed42cd52d470b30fa...,pets_1,#1 = Scan Table [ Student ] Predicate [ LName ...,[{'PetID': 2001}],NaN,NaN,False
3817,flat_qpl,02ea3ce3c1ca33852d94e1ec67b4c4456820afff93824f...,world_1,#1 = Scan Table [ country ] Predicate [ Name =...,"[{'LifeExpectancy': 62.900001525878906, 'Popul...",NaN,NaN,False
3821,flat_qpl,ead8406fcf8f5ac508a3fa2fee7f4eadfc597b2934367d...,world_1,#1 = Scan Table [ country ] Predicate [ Region...,[{'Avg_LifeExpectancy': 50.31111102634006}],NaN,NaN,False

In [197]:
same_rs_groups = {}
for _, row in full_df.iterrows():
    if row['id'] not in same_rs_groups:
        same_rs_groups[row['id']] = [[row]]
        continue
    found = False
    for l in same_rs_groups[row['id']].copy():
        most_precise = l[0]
        if pd.isnull(most_precise[['pred_rs']]).all() or pd.isnull(row[['pred_rs']]).all():
            continue
        elif same_rs(most_precise['pred_rs'], row['pred_rs'], most_precise["pred_qpl"].split(" ; ")):
            l.insert(0, row)
            found = True
        elif same_rs(row['pred_rs'], most_precise['pred_rs'], row["pred_qpl"].split(" ; ")):
            l.append(row)
            found = True
    if not found:
        same_rs_groups[row['id']].append([row])


final_rows = []
for _id, lists in same_rs_groups.items():
    lists = sorted(lists, key=lambda l: len(l), reverse=True)
    final_rows.append(lists[0][0].to_frame().T)
final_df = pd.concat(final_rows)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
for qpl_type, cur_df in dfs.items():
    cur_df['qpl_type'] = qpl_type

In [5]:
correct = 0
for i, row in df_nested_qpl.iterrows():
    prs = row['pred_rs']
    grs = row['pred_rs']
    if grs and same_rs(grs, grs, row["pred_qpl"].split(" ; ")):
        correct += 1
print(correct/len(df_nested_qpl))

NameError: name 'df_nested_qpl' is not defined

In [14]:
for i, row in df_nested_qpl.iterrows():
    same_rs(df_nested_qpl.iloc[0]['pred_rs'], df_dict_qpl.iloc[0]['pred_rs'], df_nested_qpl.iloc[0]["pred_qpl"].split(" ; "))

df_dict_qpl = df_dict_qpl_orig.query("epoch == 14")
df_nested_qpl = df_nested_qpl_orig.query("epoch == 16")
same_rs(df_nested_qpl.iloc[0]['pred_rs'], df_dict_qpl.iloc[0]['pred_rs'], df_nested_qpl.iloc[0]["pred_qpl"].split(" ; "))

ValueError: DataFrame constructor not properly called!