In [3]:
from typing import Dict

import numpy as np
import pandas as pd
import json
# import utils
# import check_cte_extention
import tqdm
import os

from datasets import load_dataset

from data_row import build_FlatQplOp, QPLOP, FlatQplOp, build_FlatQplOp_from_nested_plan, build_QPLOP_from_dict

# from check_cte import check_predictions_on_dev

SPLIT = 'dev'

In [10]:
qpl_df['db_id']

0               concert_singer
1               concert_singer
2               concert_singer
3               concert_singer
4               concert_singer
                 ...
1029                    singer
1030    real_estate_properties
1031    real_estate_properties
1032    real_estate_properties
1033    real_estate_properties
Name: db_id, Length: 1034, dtype: object

In [13]:
# qpl_df = pd.read_json(f'dataset/spider/{SPLIT}.json')
dataset_id = "bgunlp/spider-qpl"
qpl_df = load_dataset(dataset_id)['validation'].to_pandas()
# qpl_df[['db_id', 'qpl']] = qpl_df['qpl'].str.split(' \| ', expand=True)

t5_results = pd.read_csv(f'../result_files/{SPLIT}_full_t5_results.csv')
qpl_df = qpl_df.merge(t5_results[['id', 'difficulty']], on='id', how='left') 

qpl_df['index'] = qpl_df['id']
qpl_df = qpl_df.set_index('index')
qpl_df = qpl_df.rename(columns={'clean_query': 'sql'})


# qpl_df = qpl_df.iloc[range(0, 1000, 20)]

Found cached dataset parquet (/home/amir/.cache/huggingface/datasets/bgunlp___parquet/bgunlp--spider-qpl-bff78f126e42ee57/0.0.0/14a00e99c0d15a23649d0db8944380ac81082d4b021f398733dd84f3a6c569a7)

  0%|          | 0/2 [00:00<?, ?it/s]

In [14]:
qpl_df

,id,db_id,question,query,difficulty_x,qpl,prefixed_qpl,cte,sql,difficulty_y
index,,,,,,,,,,
e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510f0029c9dee84948ba4,e968c73bf4c0d4b6fa12af529a4c949f561b0a51ef8510...,concert_singer,How many singers do we have?,SELECT count ( * ) AS Count_Star FROM concert_...,easy,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,concert_singer | #1 = Scan Table [ singer ] Ou...,WITH Scan_1 AS ( SELECT 1 AS One FROM concert_...,SELECT count ( * ) AS Count_Star FROM concert_...,easy
de71b4f79c1ad3c71f523f6436acef9f69f5ca098b441f5055416ac23bf9bb75,de71b4f79c1ad3c71f523f6436acef9f69f5ca098b441f...,concert_singer,What is the total number of singers?,SELECT count ( * ) AS Count_Star FROM concert_...,easy,#1 = Scan Table [ singer ] Output [ 1 AS One ]...,concert_singer | #1 = Scan Table [ singer ] Ou...,WITH Scan_1 AS ( SELECT 1 AS One FROM concert_...,SELECT count ( * ) AS Count_Star FROM concert_...,easy
e394ac9df4f6eff3fff54c2cd85d37190b1ae1f4e30dd63e1577150115b277d3,e394ac9df4f6eff3fff54c2cd85d37190b1ae1f4e30dd6...,concert_singer,"Show name, country, age for all singers ordere...","SELECT name , country , age FROM concert_singe...",medium,"#1 = Scan Table [ singer ] Output [ Name , Cou...",concert_singer | #1 = Scan Table [ singer ] Ou...,"WITH Scan_1 AS ( SELECT Name, Country, Age FRO...","SELECT name , country , age FROM concert_singe...",medium
b67ff822c24588338ffb03a8d5dfa10d171e0b5e7187fc901ceb178b9e60260e,b67ff822c24588338ffb03a8d5dfa10d171e0b5e7187fc...,concert_singer,"What are the names, countries, and ages for ev...","SELECT name , country , age FROM concert_singe...",medium,"#1 = Scan Table [ singer ] Output [ Name , Cou...",concert_singer | #1 = Scan Table [ singer ] Ou...,"WITH Scan_1 AS ( SELECT Name, Country, Age FRO...","SELECT name , country , age FROM concert_singe...",medium
53334ecd19e94f941108a87084020b87e9f5c41dc547b09d9aae53339cc69b0d,53334ecd19e94f941108a87084020b87e9f5c41dc547b0...,concert_singer,"What is the average, minimum, and maximum age ...","SELECT avg ( age ) AS Avg_age , min ( age ) AS...",medium,#1 = Scan Table [ singer ] Predicate [ Country...,concert_singer | #1 = Scan Table [ singer ] Pr...,"WITH Scan_1 AS ( SELECT Country, Age FROM conc...","SELECT avg ( age ) AS Avg_age , min ( age ) AS...",medium
...,...,...,...,...,...,...,...,...,...,...
341f8b90b4223634d3f86dfbdbdb6e798b7ae3bffe8641e55dafa4f3b7536d88,341f8b90b4223634d3f86dfbdbdb6e798b7ae3bffe8641...,singer,What are the citizenships that are shared by s...,SELECT Citizenship FROM singer.singer WITH (FO...,hard,#1 = Scan Table [ singer ] Predicate [ Birth_Y...,singer | #1 = Scan Table [ singer ] Predicate ...,"WITH Scan_1 AS ( SELECT DISTINCT Citizenship, ...",SELECT Citizenship FROM singer.singer WHERE B...,hard
b3221e9c112854ef99fba5d334b12427914fef6cde224429b25a501e64e6c4ae,b3221e9c112854ef99fba5d334b12427914fef6cde2244...,real_estate_properties,How many available features are there in total?,SELECT count ( * ) AS Count_Star FROM real_est...,easy,#1 = Scan Table [ Other_Available_Features ] O...,real_estate_properties | #1 = Scan Table [ Oth...,WITH Scan_1 AS ( SELECT 1 AS One FROM real_est...,SELECT count ( * ) AS Count_Star FROM real_est...,easy
2eae79665e670663f892b02b5ab203781851af06ec08b956ad48104a9ff70be6,2eae79665e670663f892b02b5ab203781851af06ec08b9...,real_estate_properties,What is the feature type name of feature AirCon?,SELECT T2.feature_type_name FROM real_estate_p...,medium,#1 = Scan Table [ Other_Available_Features ] P...,real_estate_properties | #1 = Scan Table [ Oth...,"WITH Scan_1 AS ( SELECT feature_type_code, fea...",SELECT T2.feature_type_name FROM real_estate_p...,medium
767d8f34f1b268c7832d789fbb1f662604e9db7d49975fb7b642cb8ca235ce34,767d8f34f1b268c7832d789fbb1f662604e9db7d49975f...,real_estate_properties,Show the property type descriptions of propert...,SELECT T2.property_type_description FROM real_...,medium,#1 = Scan Table [ Properties ] Distinct [ true...,real_estate_properties | #1 = Scan Table [ Pro...,WITH Scan_1 AS ( SELECT DISTINCT property_type...,SELECT T2.property_type_description FROM real_...,medium
226cd9a74a1b2e51610774012d114c254e10c37065ac9d0b0e0f451343dcc72e,226cd9a74a1b2e51610774012d114c254e10c37065ac9d...,real_estate_properties,What are the names of properties that are eith...,SELECT property_name FROM real_estate_properti...,hard,#1 = Scan Table [ Properties ] Predicate [ pro...,real_estate_properties | #1 = Scan Table [ Pro...,"WITH Scan_1 AS ( SELECT property_name, propert...",SELECT property_name FROM real_estate_properti...,hard

In [15]:
import itertools
qpl = qpl_df.iloc[243].qpl
flat_qpl_node = build_FlatQplOp(qpl)
for sub_tree in flat_qpl_node.get_all_sub_trees():
    print(repr(sub_tree))
    
print(qpl_df.iloc[243].qpl)

#1 = Scan Table [ flights ] Output [ Airline ] ; #2 = Aggregate [ #1 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ] ; #3 = Scan Table [ airlines ] Output [ Airline , uid ] ; #4 = Join [ #2 , #3 ] Predicate [ #2.Airline = #3.uid ] Output [ #2.Count_Star , #3.Airline ] ; #5 = Aggregate [ #4 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ] ; #6 = Filter [ #5 ] Predicate [ Count_Star < 200 ] Output [ Airline ]
#1 = Scan Table [ flights ] Output [ Airline ] ; #2 = Aggregate [ #1 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ] ; #3 = Scan Table [ airlines ] Output [ Airline , uid ] ; #4 = Join [ #2 , #3 ] Predicate [ #2.Airline = #3.uid ] Output [ #2.Count_Star , #3.Airline ] ; #5 = Aggregate [ #4 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ]
#1 = Scan Table [ flights ] Output [ Airline ] ; #2 = Aggregate [ #1 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ] ; #3 = Scan Table [ airlines ] Output [ Airline , uid ] ; #4 = Join [ #2 , #3 ] Predicate [ #2.Airline = #3.uid ] Output [ #2.Count_Star , #3.Airline ]
#1 = Scan Table [ flights ] Output [ Airline ] ; #2 = Aggregate [ #1 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ]
#1 = Scan Table [ flights ] Output [ Airline ]
#1 = Scan Table [ airlines ] Output [ Airline , uid ]
#1 = Scan Table [ flights ] Output [ Airline ] ; #2 = Aggregate [ #1 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ] ; #3 = Scan Table [ airlines ] Output [ Airline , uid ] ; #4 = Join [ #2 , #3 ] Predicate [ #2.Airline = #3.uid ] Output [ #2.Count_Star , #3.Airline ] ; #5 = Aggregate [ #4 ] GroupBy [ Airline ] Output [ Airline , countstar AS Count_Star ] ; #6 = Filter [ #5 ] Predicate [ Count_Star < 200 ] Output [ Airline ]

In [16]:

# def node_to_string(node: FlatQplOp, indent: int = 0):
#     result = ""
#     indent_str = " " * indent + ("In: " if indent else "")
#     result += indent_str
#     result += node.name
#    
#     if node.table:
#         result += f' [ {node.table} ]'
#     if node.options:
#         result += f' {node.options}'     
#     result += f" Output [ {node.returns} ]"
#     
#     for i, child in enumerate(node.children[::-1]):
#         if i==0:
#             result = result.replace(child.id, 'T')
#         elif i==1:
#             result = result.replace(child.id, 'B')
#         result += f'\n{node_to_string(child, indent + 2)}'
# 
#     return result
# 
# import re
# plat_qpl_pattern = re.compile("( *)(In: )?([^\[]*)(?:\[( [^\[]* )\])?(.*) Output \[( .* )\]")
# 
# def build_FlatQplOp_from_tree(plan: str):
#     lines = plan.strip().split('\n')
#     stack = []
#     for i, line in enumerate(lines):
#         id = f'#{len(lines) - i}'
#         m = plat_qpl_pattern.match(line)
#         indent = len(m.group(1))
#         if indent > 0:
#             for _ in range(len(stack) - indent // 2):
#                 stack.pop()
#         op = m.group(3).strip()
#         tbl_name = None
#         options = []
#         if op == 'Scan Table':
#             tbl_name = m.group(4).strip()
#         else:
#             op_split = op.split()
#             if len(op_split) > 1:
#                 op, options = op_split[0], [op_split[1].strip()]
#             if m.group(4):
#                 options.append(f'[ {m.group(4).strip()} ]')
#         options.append(m.group(5).strip())
#         return_str = m.group(6).strip()
#         children = list()
#         node = FlatQplOp(id, tbl_name, op, ' '.join(options).strip(), return_str, children)
#         
#         if stack:
#             parent = stack[-1]
#             parent.children.insert(0, node)
# 
#         # Push the current node to the stack to make it the current parent
#         stack.append(node)
#         
#     return stack[0]



# 
# for _, row in qpl_df.iterrows():
#     if row.id in ['ad21629f0a4e48341926c3e116c4f3ae3e68f41715b9f118146b1b81010b5be1', '71b8e3eee7e7618b7730a3dc215c5d838411a0a424df17b4823a8f1ed6b56062', '34ae116d68862a3d031e45083c8c14f67053408224f2484c61530216d7152422', '4030ca9a53a02732ea943743b6fe00d6d8750e215cf82b9ad4d9d63fd796c938']:
#         continue
#     qpl = row.qpl
#     flat_qpl_node = build_FlatQplOp(qpl)
#     print(row.id)
#     print(flat_qpl_node.to_nested_str())
#     print(qpl)
#     print(repr(build_FlatQplOp_from_nested_plan(flat_qpl_node.to_nested_str())))
#     assert qpl == repr(build_FlatQplOp_from_nested_plan(flat_qpl_node.to_nested_str()))
import yaml
import json
data = []
for _, row in qpl_df.iterrows():
    qpl = row.qpl
    flat_qpl_node = build_FlatQplOp(qpl)
    d = flat_qpl_node.to_dict()
    # print(flat_qpl_node.to_dict())
    # print(flat_qpl_node.to_nested_str())
    print(yaml.dump(d, default_flow_style=False, sort_keys=False))    
    data.append((row.id, flat_qpl_node.to_nested_str(), json.dumps(flat_qpl_node.to_dict()), yaml.dump(flat_qpl_node.to_dict(), default_flow_style=False)))
    # print(build_QPLOP_from_dict(flat_qpl_node.to_dict()).to_nested_str())
    assert flat_qpl_node.to_nested_str() == build_QPLOP_from_dict(yaml.safe_load(yaml.dump(flat_qpl_node.to_dict(), default_flow_style=False, sort_keys=False))).to_nested_str()    
extra_languages = pd.DataFrame(data, columns=['id', 'nested_qpl', 'dict_qpl', 'yaml_qpl'])

# for _, row in qpl_df.head(50).iterrows():
#     flat_qpl_node = build_FlatQplOp(row.qpl)
#     print(node_to_string(flat_qpl_node))
#     print(repr(flat_qpl_node))

    # print(repr(parse_execution_plan(node_to_string(flat_qpl_node))))
    # assert repr(flat_qpl_node) == repr(parse_execution_plan(node_to_string(flat_qpl_node)))

id: '#2'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: 1 AS One

id: '#2'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: 1 AS One

id: '#2'
operation: Sort
predicate: OrderBy [ Age DESC ]
output: Name , Country , Age
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: Name , Country , Age

id: '#2'
operation: Sort
predicate: OrderBy [ Age DESC ]
output: Name , Country , Age
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: Name , Country , Age

id: '#2'
operation: Aggregate
output: MAX(Age) AS Max_Age , MIN(Age) AS Min_Age , AVG(Age) AS Avg_Age
children:
- id: '#1'
  operation: Scan Table
  table: singer
  predicate: Predicate [ Country = 'France' ]
  output: Country , Age

id: '#2'
operation: Aggregate
output: MAX(Age) AS Max_Age , MIN(Age) AS Min_Age , AVG(Age) AS Avg_Age
children:
- id: '#1'
  operation: Scan Table
  table: singer
  predicate: Predicate [ Country = 'France' ]
  output: Country , Age

id: '#2'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Age ASC ]
output: Song_Name , Age , Song_release_year
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: Song_Name , Age , Song_release_year

id: '#2'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Age ASC ]
output: Song_Name , Age , Song_release_year
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: Song_Name , Age , Song_release_year

id: '#1'
operation: Scan Table
table: singer
predicate: Predicate [ Age > 20 ] Distinct [ true ]
output: Country

id: '#1'
operation: Scan Table
table: singer
predicate: Predicate [ Age > 20 ] Distinct [ true ]
output: Country

id: '#2'
operation: Aggregate
predicate: GroupBy [ Country ]
output: Country , countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: Country

id: '#2'
operation: Aggregate
predicate: GroupBy [ Country ]
output: Country , countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: singer
  output: Country

id: '#4'
operation: Join
predicate: 'Predicate [ #3.Age > #2.Avg_Age ]'
output: '#3.Song_Name'
children:
- id: '#2'
  operation: Aggregate
  output: AVG(Age) AS Avg_Age
  children:
  - id: '#1'
    operation: Scan Table
    table: singer
    output: Age
- id: '#3'
  operation: Scan Table
  table: singer
  output: Song_Name , Age

id: '#4'
operation: Join
predicate: 'Predicate [ #3.Age > #2.Avg_Age ]'
output: '#3.Song_Name'
children:
- id: '#2'
  operation: Aggregate
  output: AVG(Age) AS Avg_Age
  children:
  - id: '#1'
    operation: Scan Table
    table: singer
    output: Age
- id: '#3'
  operation: Scan Table
  table: singer
  output: Song_Name , Age

id: '#1'
operation: Scan Table
table: stadium
predicate: Predicate [ Capacity >= 5000 AND Capacity <= 10000 ]
output: Name , Capacity , Location

id: '#1'
operation: Scan Table
table: stadium
predicate: Predicate [ Capacity >= 5000 AND Capacity <= 10000 ]
output: Name , Capacity , Location

id: '#2'
operation: Aggregate
predicate: GroupBy [ Average ]
output: MAX(Capacity) AS Max_Capacity , Average
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  output: Capacity , Average

id: '#2'
operation: Aggregate
output: AVG(Capacity) AS Avg_Capacity , MAX(Capacity) AS Max_Capacity
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  output: Capacity

id: '#2'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Average DESC ]
output: Name , Capacity , Average
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  output: Name , Capacity , Average

id: '#2'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Average DESC ]
output: Name , Capacity , Average
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  output: Name , Capacity , Average

id: '#2'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: concert
  predicate: Predicate [ Year = 2014 OR Year = 2015 ]
  output: Year

id: '#2'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: concert
  predicate: Predicate [ Year = 2014 OR Year = 2015 ]
  output: Year

id: '#4'
operation: Aggregate
predicate: GroupBy [ Stadium_ID ]
output: Name , countstar AS Count_Star
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.Stadium_ID = #2.Stadium_ID ]'
  output: '#1.Stadium_ID , #2.Name'
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    output: Stadium_ID
  - id: '#2'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID

id: '#4'
operation: Aggregate
predicate: GroupBy [ Stadium_ID ]
output: Name , countstar AS Count_Star
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.Stadium_ID = #2.Stadium_ID ]'
  output: '#1.Stadium_ID , #2.Name'
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    output: Stadium_ID
  - id: '#2'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID

id: '#5'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Count_Star DESC ]
output: Count_Star , Capacity , Name
children:
- id: '#4'
  operation: Aggregate
  predicate: GroupBy [ Stadium_ID ]
  output: Capacity , Name , countstar AS Count_Star
  children:
  - id: '#3'
    operation: Join
    predicate: 'Predicate [ #1.Stadium_ID = #2.Stadium_ID ]'
    output: '#2.Stadium_ID , #2.Capacity , #2.Name'
    children:
    - id: '#1'
      operation: Scan Table
      table: concert
      predicate: Predicate [ Year >= 2014 ]
      output: Year , Stadium_ID
    - id: '#2'
      operation: Scan Table
      table: stadium
      output: Capacity , Stadium_ID , Name

id: '#5'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Count_Star DESC ]
output: Count_Star , Capacity , Name
children:
- id: '#4'
  operation: Aggregate
  predicate: GroupBy [ Stadium_ID ]
  output: Capacity , Name , countstar AS Count_Star
  children:
  - id: '#3'
    operation: Join
    predicate: 'Predicate [ #1.Stadium_ID = #2.Stadium_ID ]'
    output: '#2.Stadium_ID , #2.Capacity , #2.Name'
    children:
    - id: '#1'
      operation: Scan Table
      table: concert
      predicate: Predicate [ Year > 2013 ]
      output: Year , Stadium_ID
    - id: '#2'
      operation: Scan Table
      table: stadium
      output: Capacity , Stadium_ID , Name

id: '#3'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Count_Star DESC ]
output: Count_Star , Year
children:
- id: '#2'
  operation: Aggregate
  predicate: GroupBy [ Year ]
  output: Year , countstar AS Count_Star
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    output: Year

id: '#3'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ Count_Star DESC ]
output: Count_Star , Year
children:
- id: '#2'
  operation: Aggregate
  predicate: GroupBy [ Year ]
  output: Year , countstar AS Count_Star
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    output: Year

id: '#3'
operation: Except
predicate: 'Predicate [ #2.Stadium_ID IS NULL OR #1.Stadium_ID = #2.Stadium_ID ]'
output: '#1.Name'
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  output: Name , Stadium_ID
- id: '#2'
  operation: Scan Table
  table: concert
  output: Stadium_ID

id: '#3'
operation: Except
predicate: 'Predicate [ #2.Stadium_ID IS NULL OR #1.Stadium_ID = #2.Stadium_ID ]'
output: '#1.Name'
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  output: Name , Stadium_ID
- id: '#2'
  operation: Scan Table
  table: concert
  output: Stadium_ID

id: '#3'
operation: Intersect
predicate: 'Predicate [ #1.Country = #2.Country ]'
output: '#1.Country'
children:
- id: '#1'
  operation: Scan Table
  table: singer
  predicate: Predicate [ Age > 40 ] Distinct [ true ]
  output: Country , Age
- id: '#2'
  operation: Scan Table
  table: singer
  predicate: Predicate [ Age < 30 ]
  output: Country , Age

id: '#5'
operation: Except
predicate: 'Predicate [ #1.Name = #4.Name ]'
output: '#1.Name'
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  predicate: Distinct [ true ]
  output: Name
- id: '#4'
  operation: Join
  predicate: 'Predicate [ #2.Stadium_ID = #3.Stadium_ID ]'
  output: '#3.Name'
  children:
  - id: '#2'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2014 ]
    output: Year , Stadium_ID
  - id: '#3'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID

id: '#5'
operation: Except
predicate: 'Predicate [ #1.Name = #4.Name ]'
output: '#1.Name'
children:
- id: '#1'
  operation: Scan Table
  table: stadium
  predicate: Distinct [ true ]
  output: Name
- id: '#4'
  operation: Join
  predicate: 'Predicate [ #2.Stadium_ID = #3.Stadium_ID ]'
  output: '#3.Name'
  children:
  - id: '#2'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2014 ]
    output: Year , Stadium_ID
  - id: '#3'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID

id: '#4'
operation: Join
predicate: 'Predicate [ #2.concert_ID = #3.concert_ID ]'
output: '#3.Theme , #3.concert_Name , #2.Count_Star'
children:
- id: '#2'
  operation: Aggregate
  predicate: GroupBy [ concert_ID ]
  output: concert_ID , countstar AS Count_Star
  children:
  - id: '#1'
    operation: Scan Table
    table: singer_in_concert
    output: concert_ID
- id: '#3'
  operation: Scan Table
  table: concert
  output: Theme , concert_ID , concert_Name

id: '#4'
operation: Join
predicate: 'Predicate [ #2.concert_ID = #3.concert_ID ]'
output: '#3.Theme , #3.concert_Name , #2.Count_Star'
children:
- id: '#2'
  operation: Aggregate
  predicate: GroupBy [ concert_ID ]
  output: concert_ID , countstar AS Count_Star
  children:
  - id: '#1'
    operation: Scan Table
    table: singer_in_concert
    output: concert_ID
- id: '#3'
  operation: Scan Table
  table: concert
  output: Theme , concert_ID , concert_Name

id: '#4'
operation: Join
predicate: 'Predicate [ #2.Singer_ID = #3.Singer_ID ]'
output: '#2.Count_Star , #3.Name'
children:
- id: '#2'
  operation: Aggregate
  predicate: GroupBy [ Singer_ID ]
  output: Singer_ID , countstar AS Count_Star
  children:
  - id: '#1'
    operation: Scan Table
    table: singer_in_concert
    output: Singer_ID
- id: '#3'
  operation: Scan Table
  table: singer
  output: Name , Singer_ID

id: '#4'
operation: Join
predicate: 'Predicate [ #2.Singer_ID = #3.Singer_ID ]'
output: '#2.Count_Star , #3.Name'
children:
- id: '#2'
  operation: Aggregate
  predicate: GroupBy [ Singer_ID ]
  output: Singer_ID , countstar AS Count_Star
  children:
  - id: '#1'
    operation: Scan Table
    table: singer_in_concert
    output: Singer_ID
- id: '#3'
  operation: Scan Table
  table: singer
  output: Name , Singer_ID

id: '#5'
operation: Join
predicate: 'Predicate [ #3.Singer_ID = #4.Singer_ID ]'
output: '#4.Name'
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.concert_ID = #2.concert_ID ]'
  output: '#2.Singer_ID'
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2014 ]
    output: Year , concert_ID
  - id: '#2'
    operation: Scan Table
    table: singer_in_concert
    output: concert_ID , Singer_ID
- id: '#4'
  operation: Scan Table
  table: singer
  output: Name , Singer_ID

id: '#5'
operation: Join
predicate: 'Predicate [ #3.Singer_ID = #4.Singer_ID ]'
output: '#4.Name'
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.concert_ID = #2.concert_ID ]'
  output: '#2.Singer_ID'
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2014 ]
    output: Year , concert_ID
  - id: '#2'
    operation: Scan Table
    table: singer_in_concert
    output: concert_ID , Singer_ID
- id: '#4'
  operation: Scan Table
  table: singer
  output: Name , Singer_ID

id: '#1'
operation: Scan Table
table: singer
predicate: Predicate [ Song_Name like '%Hey%' ]
output: Name , Country , Song_Name

id: '#1'
operation: Scan Table
table: singer
predicate: Predicate [ Song_Name like '%Hey%' ]
output: Name , Country , Song_Name

id: '#7'
operation: Intersect
predicate: 'Predicate [ #3.Name = #6.Name ]'
output: '#3.Location , #3.Name'
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.Stadium_ID = #2.Stadium_ID ] Distinct [ true ]'
  output: '#2.Location , #2.Name'
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2014 ]
    output: Year , Stadium_ID
  - id: '#2'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID , Location
- id: '#6'
  operation: Join
  predicate: 'Predicate [ #4.Stadium_ID = #5.Stadium_ID ]'
  output: '#5.Location , #5.Name'
  children:
  - id: '#4'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2015 ]
    output: Year , Stadium_ID
  - id: '#5'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID , Location

id: '#7'
operation: Intersect
predicate: 'Predicate [ #3.Name = #6.Name ]'
output: '#3.Location , #3.Name'
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.Stadium_ID = #2.Stadium_ID ] Distinct [ true ]'
  output: '#2.Location , #2.Name'
  children:
  - id: '#1'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2014 ]
    output: Year , Stadium_ID
  - id: '#2'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID , Location
- id: '#6'
  operation: Join
  predicate: 'Predicate [ #4.Stadium_ID = #5.Stadium_ID ]'
  output: '#5.Location , #5.Name'
  children:
  - id: '#4'
    operation: Scan Table
    table: concert
    predicate: Predicate [ Year = 2015 ]
    output: Year , Stadium_ID
  - id: '#5'
    operation: Scan Table
    table: stadium
    output: Name , Stadium_ID , Location

id: '#5'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#4'
  operation: Join
  predicate: 'Predicate [ #2.Stadium_ID = #3.Stadium_ID ]'
  output: '#2.Stadium_ID , #2.Capacity'
  children:
  - id: '#2'
    operation: TopSort
    predicate: Rows [ 1 ] OrderBy [ Capacity DESC ]
    output: Capacity , Stadium_ID
    children:
    - id: '#1'
      operation: Scan Table
      table: stadium
      output: Capacity , Stadium_ID
  - id: '#3'
    operation: Scan Table
    table: concert
    output: Stadium_ID

id: '#5'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#4'
  operation: Join
  predicate: 'Predicate [ #2.Stadium_ID = #3.Stadium_ID ]'
  output: '#2.Stadium_ID , #2.Capacity'
  children:
  - id: '#2'
    operation: TopSort
    predicate: Rows [ 1 ] OrderBy [ Capacity DESC ]
    output: Capacity , Stadium_ID
    children:
    - id: '#1'
      operation: Scan Table
      table: stadium
      output: Capacity , Stadium_ID
  - id: '#3'
    operation: Scan Table
    table: concert
    output: Stadium_ID

id: '#2'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  predicate: Predicate [ weight > 10.0 ]
  output: weight

id: '#2'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  predicate: Predicate [ weight > 10.0 ]
  output: weight

id: '#2'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ pet_age ASC ]
output: weight , pet_age
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  output: weight , pet_age

id: '#2'
operation: TopSort
predicate: Rows [ 1 ] OrderBy [ pet_age ASC ]
output: weight , pet_age
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  output: weight , pet_age

id: '#2'
operation: Aggregate
predicate: GroupBy [ PetType ]
output: MAX(weight) AS Max_weight , PetType
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  output: weight , PetType

id: '#2'
operation: Aggregate
predicate: GroupBy [ PetType ]
output: MAX(weight) AS Max_weight , PetType
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  output: weight , PetType

id: '#4'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.StuID = #2.StuID ]'
  output: '#1.StuID'
  children:
  - id: '#1'
    operation: Scan Table
    table: Has_Pet
    output: StuID
  - id: '#2'
    operation: Scan Table
    table: Student
    predicate: Predicate [ Age > 20 ]
    output: StuID , Age

id: '#4'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.StuID = #2.StuID ]'
  output: '#1.StuID'
  children:
  - id: '#1'
    operation: Scan Table
    table: Has_Pet
    output: StuID
  - id: '#2'
    operation: Scan Table
    table: Student
    predicate: Predicate [ Age > 20 ]
    output: StuID , Age
id: '#6'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#5'
  operation: Join
  predicate: 'Predicate [ #3.StuID = #4.StuID ]'
  output: '#3.StuID'
  children:
  - id: '#3'
    operation: Join
    predicate: 'Predicate [ #1.PetID = #2.PetID ]'
    output: '#2.StuID'
    children:
    - id: '#1'
      operation: Scan Table
      table: Pets
      predicate: Predicate [ PetType = 'dog' ]
      output: PetID , PetType
    - id: '#2'
      operation: Scan Table
      table: Has_Pet
      output: StuID , PetID
  - id: '#4'
    operation: Scan Table
    table: Student
    predicate: Predicate [ Sex = 'F' ]
    output: StuID , Sex

id: '#6'
operation: Aggregate
output: countstar AS Count_Star
children:
- id: '#5'
  operation: Join
  predicate: 'Predicate [ #3.StuID = #4.StuID ]'
  output: '#3.StuID'
  children:
  - id: '#3'
    operation: Join
    predicate: 'Predicate [ #1.PetID = #2.PetID ]'
    output: '#2.StuID'
    children:
    - id: '#1'
      operation: Scan Table
      table: Pets
      predicate: Predicate [ PetType = 'dog' ]
      output: PetID , PetType
    - id: '#2'
      operation: Scan Table
      table: Has_Pet
      output: StuID , PetID
  - id: '#4'
    operation: Scan Table
    table: Student
    predicate: Predicate [ Sex = 'F' ]
    output: StuID , Sex

id: '#2'
operation: Aggregate
output: COUNT(DISTINCT PetType) AS Count_Dist_PetType
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  predicate: Distinct [ true ]
  output: PetType

id: '#2'
operation: Aggregate
output: COUNT(DISTINCT PetType) AS Count_Dist_PetType
children:
- id: '#1'
  operation: Scan Table
  table: Pets
  predicate: Distinct [ true ]
  output: PetType

id: '#5'
operation: Join
predicate: 'Predicate [ #3.StuID = #4.StuID ] Distinct [ true ]'
output: '#4.Fname'
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.PetID = #2.PetID ]'
  output: '#2.StuID'
  children:
  - id: '#1'
    operation: Scan Table
    table: Pets
    predicate: Predicate [ PetType = 'cat' OR PetType = 'dog' ]
    output: PetID , PetType
  - id: '#2'
    operation: Scan Table
    table: Has_Pet
    output: StuID , PetID
- id: '#4'
  operation: Scan Table
  table: Student
  output: StuID , Fname

id: '#5'
operation: Join
predicate: 'Predicate [ #3.StuID = #4.StuID ] Distinct [ true ]'
output: '#4.Fname'
children:
- id: '#3'
  operation: Join
  predicate: 'Predicate [ #1.PetID = #2.PetID ]'
  output: '#2.StuID'
  children:
  - id: '#1'
    operation: Scan Table
    table: Pets
    predicate: Predicate [ PetType = 'cat' OR PetType = 'dog' ]
    output: PetID , PetType
  - id: '#2'
    operation: Scan Table
    table: Has_Pet
    output: StuID , PetID
- id: '#4'
  operation: Scan Table
  table: Student
  output: StuID , Fname

id: '#11'
operation: Intersect
predicate: 'Predicate [ #5.Fname = #10.Fname ]'
output: '#5.Fname'
children:
- id: '#5'
  operation: Join
  predicate: 'Predicate [ #3.StuID = #4.StuID ] Distinct [ true ]'
  output: '#4.Fname'
  children:
  - id: '#3'
    operation: Join
    predicate: 'Predicate [ #1.PetID = #2.PetID ]'
    output: '#2.StuID'
    children:
    - id: '#1'

In [90]:
extra_languages.to_csv('spider-qpl-extra-languages.csv', index=False)

In [91]:
extra_languages_new = pd.read_csv('spider-qpl-extra-languages.csv')
extra_languages_new.iloc[243].dict_qpl

'{"id": "#6", "operation": "Filter", "predicate": "Predicate [ Count_Star < 200 ]", "output": "Airline", "children": [{"id": "#5", "operation": "Aggregate", "predicate": "GroupBy [ Airline ]", "output": "Airline , countstar AS Count_Star", "children": [{"id": "#4", "operation": "Join", "predicate": "Predicate [ #2.Airline = #3.uid ]", "output": "#2.Count_Star , #3.Airline", "children": [{"id": "#2", "operation": "Aggregate", "predicate": "GroupBy [ Airline ]", "output": "Airline , countstar AS Count_Star", "children": [{"id": "#1", "operation": "Scan Table", "table": "flights", "output": "Airline"}]}, {"id": "#3", "operation": "Scan Table", "table": "airlines", "output": "Airline , uid"}]}]}]}'

In [93]:
build_QPLOP_from_dict(json.loads(extra_languages.iloc[243].dict_qpl)).to_nested_str() == build_QPLOP_from_dict(json.loads(extra_languages_new.iloc[243].dict_qpl)).to_nested_str()

True

In [ ]:
extra_languages_new.iloc[243].dict_qpl

In [12]:
lines = [x.strip() for x in qpl_df.iloc[0].qpl.split(' ; ')]

In [58]:
# exp = 'exp_matrix_FullPrompt_DictQpl_06_01_2024_v11_temp_0' # 11 out of 50!
# exp = 'exp_matrix_FullPrompt_Sql_06_01_2024_v11_temp_0' #30 out of 50
# exp = 'exp_matrix_FullPrompt_Qpl_06_01_2024_v11_temp_0' #12 out of 50
# exp = 'exp_matrix_FullPrompt_TreeQpl_06_01_2024_v11_temp_0' #5 out of 50
# exp = 'exp_matrix_FullPrompt_Cte_06_01_2024_v11_temp_0' #23 out of 50

# exp = 'exp_matrix_FullPrompt_Cte_06_01_2024_v12_temp_0' #23 out of 50

# exp = 'exp_matrix_FullPrompt_Sql_06_01_2024_v13-gpt-4-1106-preview' #39 out of 50

# exp = 'exp_matrix_FullPrompt_Sql_06_01_2024_v14' #30 out of 50
# exp = 'exp_matrix_FullPrompt_Sql_06_01_2024_v15' # 721

# exp = 'exp_matrix_FullPrompt_TreeQpl_07_01_2024_v19_fix_distinct' # 225
# exp = 'exp_matrix_FullPrompt_Qpl_07_01_2024_v19_fix_distinct' # 340

exp = 'exp_matrix_FullPrompt_Qpl_07_01_2024_v20_7shot' # 340

# exp = 'exp_matrix_FullPrompt_DictQpl_06_01_2024_v6' # 11 out of 50! 
# exp = 'exp_matrix_FullPrompt_TreeQpl_03_01_2024_v5'
# exp = 'exp_matrix_FullPrompt_Qpl_17_12_2023_v3'
# exp = 'exp_matrix_FullPrompt_Qpl_17_12_2023_v2' # 256 correct
# exp = 'exp_matrix_FullPrompt_Sql_17_11_2023_v1'
# exp = 'exp_matrix_FullPrompt_Cte_12_10_2023_v4'
# exp = 'exp_matrix_ClassificationPrompt_Cte_12_10_2023_v4'


with open(f"experiments/history_messages/{exp}/config.json", "r") as f:
    config = json.load(f)
print(config)

{'FullPrompt': {'FewShot': {'OneShot': ['VerboseSchema', 'Question', 'Qpl']}}}

In [59]:

rows = []
path = f"experiments/history_messages/{exp}/"
if 'ClassificationPrompt' not in config:
    for filename in os.listdir(path):
        if not filename.startswith(SPLIT):
            continue
        try:
            with open(os.path.join(path, filename), "r") as f:
                res = json.load(f)
        except:
            continue
        db = qpl_df.loc[res['id']].db_id
        question = qpl_df.loc[res['id']].question
        ans = next(r for r in res['messages'] if r['role']=='assistant')
        # pred_qpl = utils.extract_list_items(ans['content'])
        
        # Splitting from end to start in order to handle closing '
        splitted =  ans['content'].replace("â€™", "`").replace("â€˜", "`").split("```")
        if len(splitted) > 1:
            pred_sql = splitted[1].strip()
        else:
            pred_sql = splitted[0].strip()
        if pred_sql.startswith('sql'):
            pred_sql = pred_sql[3:]

        rows.append((res['id'], db, question, pred_sql))

    t = list(config.values())[0]['FewShot']['OneShot'][-1].lower()

    df_for_eval = pd.DataFrame(rows, columns=['id', 'db', 'question', f"pred_{t}"])
    # if t=='sql':
    #     df = check_cte_extention.check_sql_predictions_on_dev(df_for_eval)
else:
    for filename in os.listdir(path):
        with open(os.path.join(path, filename), "r") as f:
            res = json.load(f)
        db = qpl_df.loc[res['id']].db_id
        question = qpl_df.loc[res['id']].question
        ans = next(r for r in res['messages'] if r['role']=='assistant')
        # pred_qpl = utils.extract_list_items(ans['content'])
        
        answer = ans['content'].strip()
        rows.append((res['id'], db, question, answer))
        
    df_for_eval = pd.DataFrame(rows, columns=['id', 'db', 'question', 'answer'])

In [60]:
df_for_eval

,id,db,question,pred_qpl
0,a1fb0df29395bbcc497b10676e7f0fcc9e1a41b4362640...,world_1,Which countries have greater area than that of...,#1 = Scan Table [ country ] Predicate [ Contin...
1,95a64f969855e9817719f0ec18278eba85b5e86a4c5203...,tvshow,What is the country with the most number of TV...,#1 = Scan Table [ tv_channel ] Output [ Countr...
2,63184492d88ed5c4c27ba64d205fbe596fe665ec2cc735...,car_1,Which distinct car models are the produced aft...,#1 = Scan Table [ Model_List ] Output [ ModelI...
3,8e3aad50097526966d284fe425eed6f8ffe01c3dca9060...,cre_Doc_Template_Mgt,Return the id of the document with the fewest ...,#1 = Scan Table [ Documents ] Output [ Documen...
4,121668ef9aa1b21c6f90356eb200c8415c68d85e24e427...,flight_2,Find the number of flights landing in the city...,#1 = Scan Table [ Airports ] Predicate [ City ...
...,...,...,...,...
169,cbdbda7f6b5a8cb8a3e91eb569ed7fe4af064e5e9da84d...,poker_player,What are the names of people who do not play p...,#1 = Scan Table [ People ] Output [ Name ] ; #...
170,d0add8ef7ebdb8bb0c8c3c4c33b8775c08dde1c736f9ad...,pets_1,How many dog pets are raised by female students?,#1 = Scan Table [ Student ] Predicate [ Sex = ...
171,9891f13461359514e80f559cbff62c2204692fb32e2b85...,concert_singer,What are the names of the stadiums without any...,#1 = Scan Table [ Stadium ] Output [ Stadium_I...
172,26be22a865b394ee60cdcb1dadda77678afbeceda9793e...,tvshow,What are the ids of the TV channels that do no...,#1 = Scan Table [ tv_channel ] Output [ id ] ;...
173,944f0b4d6ff267f7af127233f544a13a26d78eac3fd238...,employee_hire_evaluation,Which employee received the biggest bonus? Giv...,#1 = Scan Table [ Evaluation ] Output [ Employ...

In [61]:
df_for_eval_full = df_for_eval.merge(qpl_df[['id', 'qpl', 'sql', 'cte', 'db_id', 'difficulty']], on='id')
df_for_eval_full

,id,db,question,pred_qpl,qpl,sql,cte,db_id,difficulty
0,a1fb0df29395bbcc497b10676e7f0fcc9e1a41b4362640...,world_1,Which countries have greater area than that of...,#1 = Scan Table [ country ] Predicate [ Contin...,#1 = Scan Table [ country ] Output [ SurfaceAr...,SELECT Name FROM world_1.country WHERE Surfac...,"WITH Scan_1 AS ( SELECT SurfaceArea, Continent...",world_1,hard
1,95a64f969855e9817719f0ec18278eba85b5e86a4c5203...,tvshow,What is the country with the most number of TV...,#1 = Scan Table [ tv_channel ] Output [ Countr...,#1 = Scan Table [ TV_Channel ] Output [ Countr...,"SELECT TOP 1 Country , count ( * ) AS Count_St...",WITH Scan_1 AS ( SELECT Country FROM tvshow.TV...,tvshow,hard
2,63184492d88ed5c4c27ba64d205fbe596fe665ec2cc735...,car_1,Which distinct car models are the produced aft...,#1 = Scan Table [ Model_List ] Output [ ModelI...,#1 = Scan Table [ model_list ] Output [ Model ...,SELECT DISTINCT T1.model FROM car_1.MODEL_LIST...,WITH Scan_1 AS ( SELECT Model FROM car_1.model...,car_1,hard
3,8e3aad50097526966d284fe425eed6f8ffe01c3dca9060...,cre_Doc_Template_Mgt,Return the id of the document with the fewest ...,#1 = Scan Table [ Documents ] Output [ Documen...,#1 = Scan Table [ Paragraphs ] Output [ Docume...,SELECT TOP 1 document_id FROM cre_Doc_Template...,WITH Scan_1 AS ( SELECT Document_ID FROM cre_D...,cre_Doc_Template_Mgt,hard
4,121668ef9aa1b21c6f90356eb200c8415c68d85e24e427...,flight_2,Find the number of flights landing in the city...,#1 = Scan Table [ Airports ] Predicate [ City ...,#1 = Scan Table [ airports ] Predicate [ City ...,SELECT count ( * ) AS Count_Star FROM flight_2...,"WITH Scan_1 AS ( SELECT AirportCode, City FROM...",flight_2,hard
...,...,...,...,...,...,...,...,...,...
169,cbdbda7f6b5a8cb8a3e91eb569ed7fe4af064e5e9da84d...,poker_player,What are the names of people who do not play p...,#1 = Scan Table [ People ] Output [ Name ] ; #...,"#1 = Scan Table [ people ] Output [ Name , Peo...",SELECT Name FROM poker_player.people WHERE Pe...,"WITH Scan_1 AS ( SELECT Name, People_ID FROM p...",poker_player,hard
170,d0add8ef7ebdb8bb0c8c3c4c33b8775c08dde1c736f9ad...,pets_1,How many dog pets are raised by female students?,#1 = Scan Table [ Student ] Predicate [ Sex = ...,#1 = Scan Table [ Pets ] Predicate [ PetType =...,SELECT count ( * ) AS Count_Star FROM pets_1.s...,"WITH Scan_1 AS ( SELECT PetType, PetID FROM pe...",pets_1,hard
171,9891f13461359514e80f559cbff62c2204692fb32e2b85...,concert_singer,What are the names of the stadiums without any...,#1 = Scan Table [ Stadium ] Output [ Stadium_I...,"#1 = Scan Table [ stadium ] Output [ Name , St...",SELECT name FROM concert_singer.stadium WHERE...,"WITH Scan_1 AS ( SELECT Name, Stadium_ID FROM ...",concert_singer,hard
172,26be22a865b394ee60cdcb1dadda77678afbeceda9793e...,tvshow,What are the ids of the TV channels that do no...,#1 = Scan Table [ tv_channel ] Output [ id ] ;...,#1 = Scan Table [ TV_Channel ] Output [ id ] ;...,SELECT id FROM tvshow.TV_Channel EXCEPT SELEC...,WITH Scan_1 AS ( SELECT id FROM tvshow.TV_Chan...,tvshow,hard
173,944f0b4d6ff267f7af127233f544a13a26d78eac3fd238...,employee_hire_evaluation,Which employee received the biggest bonus? Giv...,#1 = Scan Table [ Evaluation ] Output [ Employ...,#1 = Scan Table [ evaluation ] Output [ Employ...,SELECT TOP 1 t1.name FROM employee_hire_evalua...,"WITH Scan_1 AS ( SELECT Employee_ID, Bonus FRO...",employee_hire_evaluation,hard

In [62]:
import time
from sqlalchemy import create_engine
from qpl_to_cte import flat_qpl_to_cte
from validate_qpl import same_rs
from run_queries import get_results

engine = create_engine(
        "mssql+pyodbc://SA:Passw0rd!@0.0.0.0/spider?driver=ODBC+Driver+17+for+SQL+Server"
    )

def fix_qpl(qpl):
    return qpl.replace("count(*)", "countstar")

def eval_sample(row):
    time.sleep(0.005)
    res = {}
    res.update(**row)
    if t=='dictqpl':
        try:
            pred_qpl = fix_qpl(repr(build_QPLOP_from_dict(json.loads(row.pred_dictqpl))))
            res['pred_qpl'] = pred_qpl
            pred_sql = flat_qpl_to_cte(pred_qpl.split(" ; "), row.db_id)
            res['pred_cte'] = pred_sql
        except Exception as e:
            res['result'] = False
            res['error_type'] = 'qpl_to_cte_error'
            res['error'] = repr(e)
            return res
    elif t=='treeqpl':
        try:
            pred_qpl = fix_qpl(repr(build_FlatQplOp_from_nested_plan(row.pred_treeqpl)))
            res['pred_qpl'] = pred_qpl
            pred_sql = flat_qpl_to_cte(pred_qpl.split(" ; "), row.db_id)
            res['pred_cte'] = pred_sql
        except Exception as e:
            res['result'] = False
            res['error_type'] = 'qpl_to_cte_error'
            res['error'] = repr(e)
            return res
    elif t=='qpl':
        try:
            pred_qpl = fix_qpl(row.pred_qpl)
            # pred_qpl = repr(build_FlatQplOp(pred_qpl))
            res['pred_qpl_fixed'] = pred_qpl
            pred_sql = flat_qpl_to_cte(pred_qpl.split(" ; "), row.db_id)
            res['pred_cte'] = pred_sql
        except Exception as e:
            res['result'] = False
            res['error_type'] = 'qpl_to_cte_error'
            res['error'] = repr(e)
            return res
    elif t=='sql':
        pred_sql = row.pred_sql
    elif t=='cte':
        pred_sql = row.pred_cte
    
    try:
        pred_rs = get_results(pred_sql, engine)
        res['pred_rs'] = pred_rs
    except Exception as e:
        res['result'] = False
        res['error_type'] = 'execution_error'
        res['error'] = repr(e)
        return res
    
    if t in ['dictqpl', 'treeqpl', 'qpl', 'cte']:
        gold_rs = get_results(row.cte, engine)
    elif t=='sql':
        gold_rs = get_results(row.sql, engine)
    
    res['gold_rs'] = gold_rs
    res['result'] = same_rs(gold_rs, pred_rs, row.qpl.split(" ; "))
    return res
    
results = pd.DataFrame([eval_sample(row) for i, row in tqdm.tqdm(df_for_eval_full.iterrows())])
engine.dispose()
# res = eval_sample(df_for_eval_full[df_for_eval_full['id']=='108ae9411be5efb3b8c13a863ccd27c25db8bb6f388e077086e5a293dfcddf27'].iloc[0])
results

174it [00:12, 13.80it/s]

,id,db,question,pred_qpl,qpl,sql,cte,db_id,difficulty,pred_qpl_fixed,pred_cte,result,error_type,error,pred_rs,gold_rs
0,a1fb0df29395bbcc497b10676e7f0fcc9e1a41b4362640...,world_1,Which countries have greater area than that of...,#1 = Scan Table [ country ] Predicate [ Contin...,#1 = Scan Table [ country ] Output [ SurfaceAr...,SELECT Name FROM world_1.country WHERE Surfac...,"WITH Scan_1 AS ( SELECT SurfaceArea, Continent...",world_1,hard,#1 = Scan Table [ country ] Predicate [ Contin...,WITH Scan_1 AS ( SELECT SurfaceArea FROM world...,False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
1,95a64f969855e9817719f0ec18278eba85b5e86a4c5203...,tvshow,What is the country with the most number of TV...,#1 = Scan Table [ tv_channel ] Output [ Countr...,#1 = Scan Table [ TV_Channel ] Output [ Countr...,"SELECT TOP 1 Country , count ( * ) AS Count_St...",WITH Scan_1 AS ( SELECT Country FROM tvshow.TV...,tvshow,hard,#1 = Scan Table [ tv_channel ] Output [ Countr...,WITH Scan_1 AS ( SELECT Country FROM tvshow.tv...,True,NaN,NaN,"[{'country': 'Italy', 'count_star': 12}]","[{'country': 'Italy', 'count_star': 12}]"
2,63184492d88ed5c4c27ba64d205fbe596fe665ec2cc735...,car_1,Which distinct car models are the produced aft...,#1 = Scan Table [ Model_List ] Output [ ModelI...,#1 = Scan Table [ model_list ] Output [ Model ...,SELECT DISTINCT T1.model FROM car_1.MODEL_LIST...,WITH Scan_1 AS ( SELECT Model FROM car_1.model...,car_1,hard,#1 = Scan Table [ Model_List ] Output [ ModelI...,"WITH Scan_1 AS ( SELECT ModelId, Model, Maker ...",False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
3,8e3aad50097526966d284fe425eed6f8ffe01c3dca9060...,cre_Doc_Template_Mgt,Return the id of the document with the fewest ...,#1 = Scan Table [ Documents ] Output [ Documen...,#1 = Scan Table [ Paragraphs ] Output [ Docume...,SELECT TOP 1 document_id FROM cre_Doc_Template...,WITH Scan_1 AS ( SELECT Document_ID FROM cre_D...,cre_Doc_Template_Mgt,hard,#1 = Scan Table [ Documents ] Output [ Documen...,WITH Scan_1 AS ( SELECT Document_ID FROM cre_D...,False,NaN,NaN,[{'document_id': 3830}],"[{'document_id': 3, 'count_star': 1}]"
4,121668ef9aa1b21c6f90356eb200c8415c68d85e24e427...,flight_2,Find the number of flights landing in the city...,#1 = Scan Table [ Airports ] Predicate [ City ...,#1 = Scan Table [ airports ] Predicate [ City ...,SELECT count ( * ) AS Count_Star FROM flight_2...,"WITH Scan_1 AS ( SELECT AirportCode, City FROM...",flight_2,hard,#1 = Scan Table [ Airports ] Predicate [ City ...,WITH Scan_1 AS ( SELECT AirportCode FROM fligh...,True,NaN,NaN,[{'count_star': 47}],[{'count_star': 47}]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,cbdbda7f6b5a8cb8a3e91eb569ed7fe4af064e5e9da84d...,poker_player,What are the names of people who do not play p...,#1 = Scan Table [ People ] Output [ Name ] ; #...,"#1 = Scan Table [ people ] Output [ Name , Peo...",SELECT Name FROM poker_player.people WHERE Pe...,"WITH Scan_1 AS ( SELECT Name, People_ID FROM p...",poker_player,hard,#1 = Scan Table [ People ] Output [ Name ] ; #...,WITH Scan_1 AS ( SELECT Name FROM poker_player...,False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
170,d0add8ef7ebdb8bb0c8c3c4c33b8775c08dde1c736f9ad...,pets_1,How many dog pets are raised by female students?,#1 = Scan Table [ Student ] Predicate [ Sex = ...,#1 = Scan Table [ Pets ] Predicate [ PetType =...,SELECT count ( * ) AS Count_Star FROM pets_1.s...,"WITH Scan_1 AS ( SELECT PetType, PetID FROM pe...",pets_1,hard,#1 = Scan Table [ Student ] Predicate [ Sex = ...,NaN,False,qpl_to_cte_error,"AssertionError(""Don't know how to handle out =...",NaN,NaN
171,9891f13461359514e80f559cbff62c2204692fb32e2b85...,concert_singer,What are the names of the stadiums without any...,#1 = Scan Table [ Stadium ] Output [ Stadium_I...,"#1 = Scan Table [ stadium ] Output [ Name , St...",SELECT name FROM concert_singer.stadium WHERE...,"WITH Scan_1 AS ( SELECT Name, Stadium_ID FROM ...",concert_singer,hard,#1 = Scan Table [ Stadium ] Output [ Stadium_I...,NaN,False,qpl_to_cte_error,"AssertionError(""Don't know how to handle out =...",NaN,NaN
172,26be22a865b394ee60cdcb1dadda77678afbeceda9793e...,tvshow,What are the ids of the TV channels that do no...,#1 = Scan Table [ tv_channel ] Output [ id ] ;...,#1 = Scan Table [ TV_Channel ] Output [ id ] ;...,SELECT id FROM tvshow.TV_Channel EXCEPT SELEC...,WITH Scan_1 AS ( SELECT id FROM tvshow.TV_Chan...,tvshow,hard,#1 = Scan Table [ tv_channel ] Output [ id ] ;...,WITH Scan_1 AS ( SELECT id FROM tvshow.tv_chan...,True,NaN,NaN,"[{'id': '701'}, {'id': '703'}, {'id': '705'}, ...","[{'id': '701'}, {'id': '703'}, {'id': '705'}, ..."
173,944f0b4d6ff267f7af127233f544a13a26d78eac3fd238...,employee_hire_evaluation,Which employee received the biggest bonus? Giv...,#1 = Scan Table [ Evaluation ] Output [ Employ...,#1 = Scan Table [ evaluation ] Output [ Employ...,SELECT TOP 1 t1.name FROM employee_hire_evalua...,"WITH Scan_1 AS ( SELECT Employee_ID, Bonus FRO...",employee_hire_evaluation,hard,#1 = Scan Table [ Evaluation ] Output [ Employ...,"WITH Scan_1 AS ( SELECT Employee_ID, Bonus FRO...",False,NaN,NaN,[{'name': 'Louis Deacon'}],"[{'name': 'Louis Deacon', 'bonus': '4000.0'}]"

In [64]:
import re
plat_qpl_pattern = re.compile("(#\d+) = ([^\[]*) \[( [^\[]* )\](.*) Output \[( .* )\]")
def tmp_build_FlatQplOp(qpl: str) -> FlatQplOp:
    node_ids = {}
    lines = [x.strip() for x in qpl.split(' ; ')]
    node = None
    for line in lines:
        m = plat_qpl_pattern.match(line)
        id = m.group(1)
        op = m.group(2).strip()
        print(op.lower() == 'distinct')
        tbl_name = None
        tables = [x.strip() for x in m.group(3).split(',')]
        options = m.group(4).strip()
        return_str = m.group(5).strip()
        children = list()
        for table in tables:
            if table in node_ids:
                children.append(node_ids[table])
            else:
                tbl_name = table
        print(tables)
        node = FlatQplOp(id, tbl_name, op, options, return_str, children)
        node_ids[id] = node
        if op.lower() == 'distinct' and len(children)==1:
            children[0].options += "Distinct [true]"
            return children[0]
    return node

# build_FlatQplOp(results.query('id == "4776864cae0889340c0a3b3d4cf577b53714a560aac3a5e0b584b2fad0fede8f"').iloc[0].pred_qpl.replace("[ true ]", ""))

In [65]:
results[results['qpl'].str.contains('Distinct')]

,id,db,question,pred_qpl,qpl,sql,cte,db_id,difficulty,pred_qpl_fixed,pred_cte,result,error_type,error,pred_rs,gold_rs
2,63184492d88ed5c4c27ba64d205fbe596fe665ec2cc735...,car_1,Which distinct car models are the produced aft...,#1 = Scan Table [ Model_List ] Output [ ModelI...,#1 = Scan Table [ model_list ] Output [ Model ...,SELECT DISTINCT T1.model FROM car_1.MODEL_LIST...,WITH Scan_1 AS ( SELECT Model FROM car_1.model...,car_1,hard,#1 = Scan Table [ Model_List ] Output [ ModelI...,"WITH Scan_1 AS ( SELECT ModelId, Model, Maker ...",False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
14,bd4233682bf105762e3a9cb82f6a771c3ebd7fdecb6567...,network_1,Show names of all high school students who do ...,#1 = Scan Table [ Highschooler ] Output [ ID ]...,#1 = Scan Table [ Highschooler ] Distinct [ tr...,SELECT name FROM network_1.Highschooler EXCEP...,WITH Scan_1 AS ( SELECT DISTINCT name FROM net...,network_1,hard,#1 = Scan Table [ Highschooler ] Output [ ID ]...,WITH Scan_1 AS ( SELECT ID FROM network_1.High...,True,NaN,NaN,"[{'name': 'John'}, {'name': 'Brittany'}]","[{'name': 'Brittany'}, {'name': 'John'}]"
15,16c8b2f4d9463070faff9317b19b1c0ccb8c1c214ccc3d...,cre_Doc_Template_Mgt,What are the codes of template types that are ...,#1 = Scan Table [ ref_template_types ] Output ...,#1 = Scan Table [ Templates ] Distinct [ true ...,SELECT template_type_code FROM cre_Doc_Templat...,WITH Scan_1 AS ( SELECT DISTINCT Template_Type...,cre_Doc_Template_Mgt,hard,#1 = Scan Table [ ref_template_types ] Output ...,NaN,False,qpl_to_cte_error,AssertionError('Unknown Except variant'),NaN,NaN
18,db474200659b4d04abc94f233be2174f0b5d7bad40e328...,car_1,What are the names of the countries with no ca...,#1 = Scan Table [ countries ] Output [ Country...,#1 = Scan Table [ countries ] Distinct [ true ...,SELECT CountryName FROM car_1.countries EXCEP...,WITH Scan_1 AS ( SELECT DISTINCT CountryName F...,car_1,hard,#1 = Scan Table [ countries ] Output [ Country...,NaN,False,qpl_to_cte_error,"AssertionError(""Don't know how to handle out =...",NaN,NaN
21,1e4db4c4de408f4f9be2225ed03040fed5bf6e86f840d6...,car_1,What are the name of the countries where there...,#1 = Scan Table [ countries ] Output [ Country...,#1 = Scan Table [ countries ] Distinct [ true ...,SELECT CountryName FROM car_1.countries EXCEP...,WITH Scan_1 AS ( SELECT DISTINCT CountryName F...,car_1,hard,#1 = Scan Table [ countries ] Output [ Country...,NaN,False,qpl_to_cte_error,"AssertionError(""Don't know how to handle out =...",NaN,NaN
35,d4255528f288011bf282f9c70db59fb67c2df7481c80b3...,world_1,Which unique cities are in Asian countries whe...,#1 = Scan Table [ Country ] Predicate [ Contin...,#1 = Scan Table [ countrylanguage ] Predicate ...,select distinct t3.name FROM world_1.country A...,"WITH Scan_1 AS ( SELECT Language, IsOfficial, ...",world_1,hard,#1 = Scan Table [ Country ] Predicate [ Contin...,WITH Scan_1 AS ( SELECT Code FROM world_1.Coun...,True,NaN,NaN,[{'name': 'Acheng ...,[{'name': 'Acheng ...
39,154ade6ec7a46682d047b9181ae3c0a84374232035fcf5...,student_transcripts_tracking,Who is enrolled in a Bachelor degree program? ...,#1 = Scan Table [ Degree_Programs ] Output [ d...,#1 = Scan Table [ Degree_Programs ] Predicate ...,"SELECT DISTINCT T1.first_name , T1.middle_name...","WITH Scan_1 AS ( SELECT degree_summary_name, d...",student_transcripts_tracking,hard,#1 = Scan Table [ Degree_Programs ] Output [ d...,NaN,False,qpl_to_cte_error,"ValueError(""invalid literal for int() with bas...",NaN,NaN
40,66e090db2c6354463561fac293917d6c63cedb67424cde...,concert_singer,Show countries where a singer above age 40 and...,#1 = Scan Table [ Singer ] Predicate [ Age > 4...,#1 = Scan Table [ singer ] Predicate [ Age > 4...,SELECT country FROM concert_singer.singer WHE...,"WITH Scan_1 AS ( SELECT DISTINCT Country, Age ...",concert_singer,hard,#1 = Scan Table [ Singer ] Predicate [ Age > 4...,NaN,False,qpl_to_cte_error,"AttributeError(""'NoneType' object has no attri...",NaN,NaN
42,e173f111341c71e2a837c8c0f18342105c3339de0e08e5...,wta_1,List the names of all winners who played in bo...,#1 = Scan Table [ Matches ] Predicate [ year =...,#1 = Scan Table [ matches ] Predicate [ year =...,SELECT winner_name FROM wta_1.matches WHERE Y...,"WITH Scan_1 AS ( SELECT DISTINCT year, winner_...",wta_1,hard,#1 = Scan Table [ Matches ] Predicate [ year =...,NaN,False,qpl_to_cte_error,AssertionError('Intersect without predicate'),NaN,NaN
52,ed32d95c06b758a201d5b6a501e55481c633acf085ca41...,wta_1,What are the names of players who won in both ...,#1 = Scan Table [ Matches ] Predicate [ year =...,#1 = Scan Table [ matches ] Predicate [ year =...,SELECT winner_name FROM wta_1.matches WHERE Y...,"WITH Scan_1 AS ( SELECT DISTINCT year, winner_...",wta_1,hard,#1 = Scan Table [ Matches ] Predicate [ year =...,WITH Scan_1 AS ( SELECT winner_id FROM wta_1.M...,False,NaN,NaN,"[{'first_name': 'Angelique', 'last_name': 'Ker...","[{'winner_name': 'Angelique Kerber'}, {'winner..."
54,e0677381f837d83064d2983f6482252b89c6d6f8f0f60c...,employee_hire_evaluation,Find the districts in which there are both sho...,#1 = Scan Table [ Shop ] Predicate [ Number_pr...,#1 = Scan Table [ shop ] Predicate [ Number_pr...,SELECT district FROM employee_hire_evaluation....,WITH Scan_1 AS ( SELECT DISTINCT Number_produc...,employee_hire_evaluation,hard,#1 = Scan Table [ Shop ] Predicate [ Number_pr...,NaN,False,qpl_to_cte_error,AssertionError('Intersect without predicate'),NaN,NaN
58,28a57a5b75f7a8f40eec87da513ebdcad210610f006d48...,singer,Show the citizenship shared by singers with bi...,#1 = Scan Table [ Singer ] Predicate [ Birth_Y...,#1 = Scan Table [ singer ] Predicate [ Birth_Y...,SELECT Citizenship FROM singer.singer WHERE B...,"WITH Scan_1 AS ( SELECT DISTINCT Birth_Year, C...",singer,hard,#1 = Scan Table [ Singer ] Predicate [ Birth_Y...,NaN,False,qpl_to_cte_error,AssertionError('Intersect without predicate'),NaN,NaN
60,ee422562896a77aa11e6c9ce20da92a2899b4cc499fba1...,orchestra,Show the record companies shared by orchestras...,#1 = Scan Table [ Orchestra ] Predicate [ Year...,#1 = Scan Table [ orchestra ] Predicate [ Year...,SELECT Record_Company FROM orchestra.orchestra...,WITH Scan_1 AS ( SELECT DISTINCT Record_Compan...,orchestra,hard,#1 = Scan Table [ Orchestra ] Predicate [ Year...,NaN,False,qpl_to_cte_error,"AssertionError(""Don't know how to handle out =...",NaN,NaN
63,e544df3d47b4c732fba6bbe69959eb06d71a4b9701f1c2...,tvshow,What are the countries that are not playing ca...,#1 = Scan Table [ Cartoon ] Predicate [ Writte...,#1 = Scan Table [ TV_Channel ] Distinct [ true...,SELECT country FROM tvshow.TV_Channel EXCEPT ...,WITH Scan_1 AS ( SELECT DISTINCT Country FROM ...,tvshow,hard,#1 = Scan Table [ Cartoon ] Predicate [ Writte...,NaN,False,qpl_to_cte_error,ValueError('Unrecognized op: Distinct'),NaN,NaN
71,41ac9ea02212af7c1d4afef475a1a3e7678709ec843720...,employee_hire_evaluation,Which district has both stores with less than ...,#1 = Scan Table [ Shop ] Predicate [ Number_pr...,#1 = Scan Table [ shop ] Predicate [ Number_pr...,SELECT district FROM employee_hire_evaluation....,WITH Scan_1 AS ( SELECT DISTINCT Number_produc...,employee_hire_evaluation,hard,#1 = Scan Table [ Shop ] Predicate [ Number_pr...,WITH Scan_1 AS ( SELECT District FROM employee...,False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
89,33d486052fda33a467d56045245ac5652e2c7e0abde302...,network_1,What are the names of students who have no fri...,"#1 = Scan Table [ Highschooler ] Output [ ID ,...",#1 = Scan Table [ Highschooler ] Distinct [ tr...,SELECT name FROM network_1.Highschooler EXCEP...,WITH Scan_1 AS ( SELECT DISTINCT name FROM net...,network_1,hard,"#1 = Scan Table [ Highschooler ] Output [ ID ,...","WITH Scan_1 AS ( SELECT ID, name FROM network_...",True,NaN,NaN,"[{'name': 'John'}, {'name': 'Brittany'}]","[{'name': 'Brittany'}, {'name': 'John'}]"
92,e216cdd1ff98c38427880127f0d408f230492aace2ab20...,concert_singer,What are the names of all stadiums that did no...,"#1 = Scan Table [ Stadium ] Output [ Name , St...",#1 = Scan Table [ stadium ] Distinct [ true ] ...,SELECT name FROM concert_singer.stadium EXCEP...,WITH Scan_1 AS ( SELECT DISTINCT Name FROM con...,concert_singer,hard,"#1 = Scan Table [ Stadium ] Output [ Name , St...","WITH Scan_1 AS ( SELECT Name, Stadium_ID FROM ...",True,NaN,NaN,"[{'name': 'Bayview Stadium'}, {'name': 'Hampde...","[{'name': 'Balmoor'}, {'name': 'Bayview Stadiu..."
96,9fb99b3230c59f8e93e31e9f3330ec2ef766cee0661a53...,dog_kennels,Find the states where both owners and professi...,#1 = Scan Table [ Owners ] Output [ state ] ; ...,#1 = Scan Table [ Owners ] Distinct [ true ] O...,SELECT state FROM dog_kennels.Owners INTERSEC...,WITH Scan_1 AS ( SELECT DISTINCT state FROM do...,dog_kennels,hard,#1 = Scan Table [ Owners ] Output [ state ] ; ...,NaN,False,qpl_to_cte_error,AssertionError('Intersect without predicate'),NaN,NaN
99,d22f2ff3f365ceb1b3d8479abfc5a1b892b0c5d4f31164...,cre_Doc_Template_Mgt,Show all template type codes that are not used...,#1 = Scan Table [ ref_template_types ] Output ...,#1 = Scan Table [ Templates ] Distinct [ true ...,SELECT template_type_code FROM cre_Doc_Templat...,WITH Scan_1 AS ( SELECT DISTINCT Template_Type...,cre_Doc_Template_Mgt,hard,#1 = Scan Table [ ref_template_types ] Output ...,WITH Scan_1 AS ( SELECT Template_Type_Code FRO...,False,NaN,NaN,[],[{'template_type_code': 'CV '}]
100,8459b8d82356291d3db2f69ff1945ee3befbb954a14175...,orchestra,What are the record companies that are used by...,#1 = Scan Table [ Orchestra ] Predicate [ Year...,#1 = Scan Table [ orchestra ] Predicate [ Year...,SELECT Record_Company FROM orchestra.orchestra...,WITH Scan_1 AS ( SELECT DISTINCT Record_Compan...,orchestra,hard,#1 = Scan Table [ Orchestra ] Predicate [ Year...,NaN,False,qpl_to_cte_error,AssertionError('Intersect without predicate'),NaN,NaN
109,12d76df65c31c361eba089ea8e44faefd069c74214a2ba...,cre_Doc_Template_Mgt,Show the document id with paragraph text 'Braz...,#1 = Scan Table [ Paragraphs ] Predicate [ Par...,#1 = Scan Table [ Paragraphs ] Predicate [ Par...,SELECT document_id FROM cre_Doc_Template_Mgt.P...,"WITH Scan_1 AS ( SELECT DISTINCT Document_ID, ...",cre_Doc_Template_Mgt,hard,#1 = Scan Table [ Paragraphs ] Predicate [ Par...,"WITH Scan_1 AS ( SELECT Paragraph_Text, Docume...",True,NaN,NaN,[{'document_id': 16514113}],[{'document_id': 16514113}]
112,67897312488350728a9012ddf25e860149ea5ed4025d58...,world_1,Which regions speak Dutch or English?,#1 = Scan Table [ CountryLanguage ] Predicate ...,#1 = Scan Table [ countrylanguage ] Predicate ...,SELECT DISTINCT T1.Region FROM world_1.country...,"WITH Scan_1 AS ( SELECT Language, CountryCode ...",world_1,hard,#1 = Scan Table [ CountryLanguage ] Predicate ...,NaN,False,qpl_to_cte_error,ValueError('Unrecognized op: Distinct'),NaN,NaN
114,527a89df62df5b27b7fecaaec5caaac757cd54ef07aacb...,cre_Doc_Template_Mgt,What are the ids of documents that contain the...,#1 = Scan Table [ Paragraphs ] Predicate [ Par...,#1 = Scan Table [ Paragraphs ] Predicate [ Par...,SELECT document_id FROM cre_Doc_Template_Mgt.P...,"WITH Scan_1 AS ( SELECT DISTINCT Document_ID, ...",cre_Doc_Template_Mgt,hard,#1 = Scan Table [ Paragraphs ] Predicate [ Par...,NaN,False,qpl_to_cte_error,"AttributeError(""'NoneType' object has no attri...",NaN,NaN
120,3060597756a5391c591fd7056a8c19f57f2d440c443ea4...,car_1,What are the different models for the cards pr...,#1 = Scan Table [ Cars_Data ] Predicate [ Year...,#1 = Scan Table [ model_list ] Output [ Model ...,SELECT DISTINCT T1.model FROM car_1.MODEL_LIST...,WITH Scan_1 AS ( SELECT Model FROM car_1.model...,car_1,hard,#1 = Scan Table [ Cars_Data ] Predicate [ Year...,WITH Scan_1 AS ( SELECT Model FROM car_1.Cars_...,False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
125,341f8b90b4223634d3f86dfbdbdb6e798b7ae3bffe8641...,singer,What are the citizenships that are shared by s...,#1 = Scan Table [ Singer ] Predicate [ Birth_Y...,#1 = Scan Table [ singer ] Predicate [ Birth_Y...,SELECT Citizenship FROM singer.singer WHERE B...,"WITH Scan_1 AS ( SELECT DISTINCT Birth_Year, C...",singer,hard,#1 = Scan Table [ Singer ] Predicate [ Birth_Y...,WITH Scan_1 AS ( SELECT Citizenship FROM singe...,True,NaN,NaN,[{'citizenship': 'United States'}],[{'citizenship': 'United States'}]
127,56d9b7569da6cfd36c31daac378eeebeed9acb76698e67...,network_1,Show name of all students who have some friend...,#1 = Scan Table [ Friend ] Output [ student_id...,"#1 = Scan Table [ Highschooler ] Output [ ID ,...",SELECT T2.name FROM network_1.Friend AS T1 JO...,"WITH Scan_1 AS ( SELECT ID, name FROM network_...",network_1,hard,#1 = Scan Table [ Friend ] Output [ student_id...,NaN,False,qpl_to_cte_error,"AssertionError(""Don't know how to handle out =...",NaN,NaN
130,0236e60074389525ae99b74bd2a1c01b56e74854227b6a...,world_1,Return the different names of cities that are ...,#1 = Scan Table [ Country ] Predicate [ Contin...,#1 = Scan Table [ countrylanguage ] Predicate ...,SELECT DISTINCT T3.Name FROM world_1.country A...,"WITH Scan_1 AS ( SELECT Language, IsOfficial, ...",world_1,hard,#1 = Scan Table [ Country ] Predicate [ Contin...,WITH Scan_1 AS ( SELECT Code FROM world_1.Coun...,False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
141,f626b9a2929fc139061b844dbf890d7ba521f6aa73d94c...,dog_kennels,Which states have both owners and professional...,#1 = Scan Table [ Owners ] Output [ state ] ; ...,#1 = Scan Table [ Owners ] Distinct [ true ] O...,SELECT state FROM dog_kennels.Owners INTERSEC...,WITH Scan_1 AS ( SELECT DISTINCT state FROM do...,dog_kennels,hard,#1 = Scan Table [ Owners ] Output [ state ] ; ...,WITH Scan_1 AS ( SELECT state FROM dog_kennels...,True,NaN,NaN,"[{'state': 'Indiana'}, {'state': 'Mississippi'...","[{'state': 'Indiana'}, {'state': 'Mississippi'..."
143,4951f1256981c4e699025f83ed4e0568f0da2b0adfeb2a...,world_1,What are the regions that use English or Dutch?,#1 = Scan Table [ CountryLanguage ] Predicate ...,#1 = Scan Table [ countrylanguage ] Predicate ...,SELECT DISTINCT T1.Region FROM world_1.country...,"WITH Scan_1 AS ( SELECT Language, CountryCode ...",world_1,hard,#1 = Scan Table [ CountryLanguage ] Predicate ...,NaN,False,qpl_to_cte_error,ValueError('Unrecognized op: Distinct'),NaN,NaN
154,6461e8c73ff28757df50984fd488bc500623f7b97be110...,concert_singer,Show names for all stadiums except for stadium...,#1 = Scan Table [ Stadium ] Output [ Name ] ; ...,#1 = Scan Table [ stadium ] Distinct [ true ] ...,SELECT name FROM concert_singer.stadium EXCEP...,WITH Scan_1 AS ( SELECT DISTINCT Name FROM con...,concert_singer,hard,#1 = Scan Table [ Stadium ] Output [ Name ] ; ...,NaN,False,qpl_to_cte_error,AssertionError('Unknown Except variant'),NaN,NaN
164,2302a1b8bb2111d71497b49f79a57e7db73f1de39aa54c...,student_transcripts_tracking,"What are the first, middle, and last names for...",#1 = Scan Table [ Degree_Programs ] Predicate ...,#1 = Scan Table [ Degree_Programs ] Predicate ...,"SELECT DISTINCT T1.first_name , T1.middle_name...","WITH Scan_1 AS ( SELECT degree_summary_name, d...",student_transcripts_tracking,hard,#1 = Scan Table [ Degree_Programs ] Predicate ...,WITH Scan_1 AS ( SELECT degree_program_id FROM...,False,execution_error,ProgrammingError('(pyodbc.ProgrammingError) (\...,NaN,NaN
167,751312a14e1b895457b1e3416dd352a7abcadef9679147...,network_1,What are the names of high schoolers who both ...,"#1 = Scan Table [ Highschooler ] Output [ ID ,...","#1 = Scan Table [ Highschooler ] Output [ ID ,...",SELECT T2.name FROM network_1.Friend AS T1 JO...,"WITH Scan_1 AS ( SELECT ID, name FROM network_...",network_1,hard,"#1 = Scan Table [ Highschooler ] Output [ ID ,...",NaN,False,qpl_to_cte_error,AssertionError('Intersect without predicate'),NaN,NaN
168,dc9fa93cafe7bbc0200c3ea1a4db537478df1395d50ebe...,tvshow,which countries' tv channels are not playing a...,#1 = Scan Table [ Cartoon ] Predicate [ Writte...,#1 = Scan Table [ TV_Channel ] Distinct [ true...,SELECT country FROM tvshow.TV_Channel EXCEPT ...,WITH Scan_1 AS ( SELECT DISTINCT Country FROM ...,tvshow,hard,#1 = Scan Table [ Cartoon ] Predicate [ Writte...,NaN,False,qpl_to_cte_error,ValueError('Unrecognized op: Distinct'),NaN,NaN

In [66]:
#1 = Scan Table [ Has_Pet ] Output [ StuID ] ; #2 = Join [ #1 , Student ] Predicate [ #1.StuID = Student.StuID ] Output [ Fname , Age ] ; #3 = Join [ #1 , Pets ] Predicate [ #1.PetID = Pets.PetID ] Output [ StuID ] ; #4 = Distinct [ true ] [ #3.StuID ] ; #5 = Join [ #4 , Student ] Predicate [ #4.StuID = Student.StuID ] Output [ Fname , Age ]

In [67]:
results.groupby(['difficulty', 'result'])['id'].count()

difficulty  result
hard        False     147
            True       27
Name: id, dtype: int64

In [68]:
results.groupby(['result'])['id'].count()

result
False    147
True      27
Name: id, dtype: int64

In [23]:
# for _, row in results.iterrows():
#     if not row.result:
#         print(row.id)
#         print(row.qpl)
#         print(row.pred_qpl)

In [242]:


("#1 = Scan Table [ cars_data ] Output [ Cylinders , Accelerate ] ; #2 = Aggregate [ #1 ] GroupBy [ Cylinders ] Output [ MAX(Accelerate) AS Max_Accelerate , Cylinders ]",
 "#4 = Scan Table [ Cars_Data ] Output [ Accelerate , Cylinders ] ; #5 = Aggregate [ #4 ] GroupBy [ Cylinders ] Output [ MAX(Accelerate) AS Max_Accelerate, Cylinders ]")

('#1 = Scan Table [ cars_data ] Output [ Cylinders , Accelerate ] ; #2 = Aggregate [ #1 ] GroupBy [ Cylinders ] Output [ MAX(Accelerate) AS Max_Accelerate , Cylinders ]',
 '#4 = Scan Table [ Cars_Data ] Output [ Accelerate , Cylinders ] ; #5 = Aggregate [ #4 ] GroupBy [ Cylinders ] Output [ MAX(Accelerate) AS Max_Accelerate, Cylinders ]')

In [243]:
#1 = Scan Table [ Singer_In_Concert ] Output [ Singer_ID , concert_ID ] ; #2 = Scan Table [ Singer ] Output [ Singer_ID , Name , Country , Song_Name ] ; #3 = Join [ #1 , #2 ] Predicate [ #1.Singer_ID = #2.Singer_ID ] Output [ Singer_ID , Name , Country , Song_Name ] ; #4 = Filter [ #3 , #5 ] Predicate [ Song_Name LIKE '%Hey%' ] Output [ Name , Country ] ; #5 = Scan Table [ Concert ] Output [ concert_ID , Year ]

In [49]:
results.groupby('error')['id'].count()

error
AssertionError("Don't know how to handle out = 'Abbreviation'")            2
AssertionError("Don't know how to handle out = 'Airline'")                 3
AssertionError("Don't know how to handle out = 'Channel'")                 1
AssertionError("Don't know how to handle out = 'Continent'")               2
AssertionError("Don't know how to handle out = 'Country'")                 2
                                                                          ..
ValueError("invalid literal for int() with base 10: 'ountryLanguage'")     6
ValueError("invalid literal for int() with base 10: 'reatment_Types'")     1
ValueError("invalid literal for int() with base 10: 'tudent'")             1
ValueError('Unrecognized op: Distinct')                                   24
ValueError('not enough values to unpack (expected 2, got 1)')              1
Name: id, Length: 189, dtype: int64

In [19]:
df_for_eval_full.groupby(['answer']).count()

KeyError: 'answer'

In [136]:
# get_results('''WITH Scan_1 AS ( SELECT Name, Country, Age FROM concert_singer.singer ), Aggregate_2 AS ( SELECT Country, Age, Name, COUNT(*) AS Count_Star FROM Scan_1 GROUP BY Name, Name , Country , Age ) SELECT * FROM Aggregate_2''', engine)

In [49]:
from datetime import date
d = results[results['error_type'].isna() & (results['result']==False)].to_dict(orient='records')
for x in d:
    x['pred_qpl'] = x['pred_qpl'].split(' ; ')
    for i, row in enumerate(x['pred_rs']):
        for k, v in row.items():
            if type(v)==date:
                x['pred_rs'][i][k] = v.strftime('%Y-%m-%d')
    for i, row in enumerate(x['gold_rs']):
        for k, v in row.items():
            if type(v)==date:
                x['gold_rs'][i][k] = v.strftime('%Y-%m-%d')
    x['qpl'] = x['qpl'].split(' ; ')
d

with open(f'error_analysis_{exp}.json', 'w') as f:
     json.dump(d, f, indent=4)

        id  db  question  pred_sql  qpl  cte  db_id  error_type  error
result
False   50  50        50        50   50   50     50          50     50

In [48]:
print("I will give you DB Schema, Question. I would like you to write QPL Plan for them.\nQPL is a formalism to describe data retrieval operations over an SQL schema in a modular manner.\nA QPL plan is a sequence of instructions for querying tabular data to answer a natural language question.\nFirst there is a scan operation on each table needed inside the database in the form\n#<step> = Scan Table [ <tbl_name> ]\n\nThere are unary operations who take the form: \n#<step> = <Operation> [ #<previous_step> ]\nAll column reference for them without explicitly writing the step taken from.\nThe operations are: Aggregate, Filter, TopSort, Top, Sort\n\nThere are also binary operations who take the form:\n#<step> = <Operation> [ #<previous_step_x>, #<previous_step_y> ]\nAll column reference for them are with writing the steps taken from.\nThe operations are: Join, Intersect, Except, Union\nWrap the QPL Plan with '''\n\nExamples:\n\nDB Schema:\ncreate table station (\n\tid int\n\tname varchar\n\tlat numeric\n\tlong numeric\n\tdock_count int\n\tcity varchar\n\tinstallation_date varchar\n)\ncreate table status (\n\tstation_id int\n\tbikes_available int\n\tdocks_available int\n\ttime varchar\n)\ncreate table trip (\n\tid int\n\tduration int\n\tstart_date varchar\n\tstart_station_name varchar\n\tstart_station_id int\n\tend_date varchar\n\tend_station_name varchar\n\tend_station_id int\n\tbike_id int\n\tsubscription_type varchar\n\tzip_code int\n)\ncreate table weather (\n\tdate varchar\n\tmax_temperature_f int\n\tmean_temperature_f int\n\tmin_temperature_f int\n\tmax_dew_point_f int\n\tmean_dew_point_f int\n\tmin_dew_point_f int\n\tmax_humidity int\n\tmean_humidity int\n\tmin_humidity int\n\tmax_sea_level_pressure_inches numeric\n\tmean_sea_level_pressure_inches numeric\n\tmin_sea_level_pressure_inches numeric\n\tmax_visibility_miles int\n\tmean_visibility_miles int\n\tmin_visibility_miles int\n\tmax_wind_Speed_mph int\n\tmean_wind_speed_mph int\n\tmax_gust_speed_mph int\n\tprecipitation_inches real\n\tcloud_cover int\n\tevents varchar\n\twind_dir_degrees int\n\tzip_code int\n)\n\nQuestion:\nWhat is the average longitude of stations that never had bike availability more than 10?\n\nQPL Plan:\n'''#1 = Scan Table [ station ] Output [ long , id ] ; #2 = Scan Table [ status ] Output [ station_id , bikes_available ] ; #3 = Aggregate [ #2 ] Output [ station_id , MAX(bikes_available) AS Max_bikes_available ] ; #4 = Filter [ #3 ] Predicate [ Max_bikes_available > 10 ] Output [ station_id ] ; #5 = Except [ #1 , #4 ] Predicate [ #4.station_id IS NULL OR #1.id = #4.station_id ] Output [ #1.long ] ; #6 = Aggregate [ #5 ] Output [ AVG(long) AS Avg_long ]'''\n\n\nDB Schema:\ncreate table document_types (\n\tdocument_type_code varchar\n\tdocument_description varchar\n)\ncreate table organisation_types (\n\torganisation_type varchar\n\torganisation_type_description varchar\n)\ncreate table organisations (\n\torganisation_id int\n\torganisation_type varchar\n\torganisation_details varchar\n)\ncreate table grants (\n\tgrant_id int\n\torganisation_id int\n\tgrant_amount decimal\n\tgrant_start_date datetime\n\tgrant_end_date datetime\n\tother_details varchar\n)\ncreate table documents (\n\tdocument_id int\n\tdocument_type_code varchar\n\tgrant_id int\n\tsent_date datetime\n\tresponse_received_date datetime\n\tother_details varchar\n)\ncreate table projects (\n\tproject_id int\n\torganisation_id int\n\tproject_details varchar\n)\ncreate table research_outcomes (\n\toutcome_code varchar\n\toutcome_description varchar\n)\ncreate table research_staff (\n\tstaff_id int\n\temployer_organisation_id int\n\tstaff_details varchar\n)\ncreate table staff_roles (\n\trole_code varchar\n\trole_description varchar\n)\ncreate table project_outcomes (\n\tproject_id int\n\toutcome_code varchar\n\toutcome_details varchar\n)\ncreate table project_staff (\n\tstaff_id real\n\tproject_id int\n\trole_code varchar\n\tdate_from datetime\n\tdate_to datetime\n\tother_details varchar\n)\ncreate table tasks (\n\ttask_id int\n\tproject_id int\n\ttask_details varchar\n\teg Agree Objectives varchar\n)\n\nQuestion:\nFrom what date and to what date do the staff work on a project that has the most staff and has staff in a leader role?\n\nQPL Plan:\n'''#1 = Scan Table [ Project_Staff ] Output [ project_id ] ; #2 = Aggregate [ #1 ] GroupBy [ project_id ] Output [ project_id , countstar AS Count_Star ] ; #3 = TopSort [ #2 ] Rows [ 1 ] OrderBy [ Count_Star DESC ] Output [ project_id , Count_Star ] ; #4 = Scan Table [ Project_Staff ] Output [ project_id , date_from , date_to ] ; #5 = Join [ #3 , #4 ] Predicate [ #3.project_id = #4.project_id ] Output [ #4.date_to , #4.date_from ] ; #6 = Scan Table [ Project_Staff ] Predicate [ role_code = 'leader' ] Output [ date_to , role_code , date_from ] ; #7 = Union [ #5 , #6 ] Output [ #5.date_to , #5.date_from ]'''\n\n\nDB Schema:\ncreate table person (\n\tname varchar\n\tage int\n\tcity varchar\n\tgender varchar\n\tjob varchar\n)\ncreate table personfriend (\n\tname varchar\n\tfriend varchar\n\tyear int\n)\n\nQuestion:\nWhat is the age of the friend of Zach with longest year relationship?\n\nQPL Plan:\n'''#1 = Scan Table [ PersonFriend ] Predicate [ year IS NOT NULL AND name = 'Zach' ] Output [ name , friend , year ] ; #2 = Top [ #1 ] Rows [ 1 ] Output [ friend ] ; #3 = Scan Table [ Person ] Output [ name , age ] ; #4 = Join [ #2 , #3 ] Predicate [ #2.friend = #3.name ] Output [ #3.age ]'''\n\n\nDB Schema:\ncreate table ship (\n\tShip_ID int\n\tName varchar\n\tType varchar\n\tBuilt_Year real\n\tClass varchar\n\tFlag varchar\n)\ncreate table captain (\n\tCaptain_ID int\n\tName varchar\n\tShip_ID int\n\tage int\n\tClass varchar\n\tRank varchar\n)\n\nQuestion:\nWhat types of ships have both ships that have Panama Flags and Malta flags?\n\nQPL Plan:\n'''#1 = Scan Table [ Ship ] Predicate [ Flag = 'Panama' ] Distinct [ true ] Output [ Flag , Type ] ; #2 = Scan Table [ Ship ] Predicate [ Flag = 'Malta' ] Output [ Flag , Type ] ; #3 = Intersect [ #1 , #2 ] Predicate [ #1.Type = #2.Type ] Output [ #1.Type ]'''\n\n\nNow please complete the QPL Plan:\n\nDB Schema:\ncreate table stadium (\n\tStadium_ID int\n\tLocation varchar\n\tName varchar\n\tCapacity int\n\tHighest int\n\tLowest int\n\tAverage int\n)\ncreate table singer (\n\tSinger_ID int\n\tName varchar\n\tCountry varchar\n\tSong_Name varchar\n\tSong_release_year varchar\n\tAge int\n\tIs_male char\n)\ncreate table concert (\n\tconcert_ID int\n\tconcert_Name varchar\n\tTheme varchar\n\tStadium_ID int\n\tYear varchar\n)\ncreate table singer_in_concert (\n\tconcert_ID int\n\tSinger_ID int\n)\n\nQuestion:\nHow many singers do we have?\n\nQPL Plan:")

I will give you DB Schema, Question. I would like you to write QPL Plan for them.
QPL is a formalism to describe data retrieval operations over an SQL schema in a modular manner.
A QPL plan is a sequence of instructions for querying tabular data to answer a natural language question.
First there is a scan operation on each table needed inside the database in the form
#<step> = Scan Table [ <tbl_name> ]

There are unary operations who take the form:
#<step> = <Operation> [ #<previous_step> ]
All column reference for them without explicitly writing the step taken from.
The operations are: Aggregate, Filter, TopSort, Top, Sort

There are also binary operations who take the form:
#<step> = <Operation> [ #<previous_step_x>, #<previous_step_y> ]
All column reference for them are with writing the steps taken from.
The operations are: Join, Intersect, Except, Union
Wrap the QPL Plan with '''

Examples:

DB Schema:
create table station (
	id int
	name varchar
	lat numeric
	long numeric
	dock_count int
	city varchar
	installation_date varchar
)
create table status (
	station_id int
	bikes_available int
	docks_available int
	time varchar
)
create table trip (
	id int
	duration int
	start_date varchar
	start_station_name varchar
	start_station_id int
	end_date varchar
	end_station_name varchar
	end_station_id int
	bike_id int
	subscription_type varchar
	zip_code int
)
create table weather (
	date varchar
	max_temperature_f int
	mean_temperature_f int
	min_temperature_f int
	max_dew_point_f int
	mean_dew_point_f int
	min_dew_point_f int
	max_humidity int
	mean_humidity int
	min_humidity int
	max_sea_level_pressure_inches numeric
	mean_sea_level_pressure_inches numeric
	min_sea_level_pressure_inches numeric
	max_visibility_miles int
	mean_visibility_miles int
	min_visibility_miles int
	max_wind_Speed_mph int
	mean_wind_speed_mph int
	max_gust_speed_mph int
	precipitation_inches real
	cloud_cover int
	events varchar
	wind_dir_degrees int
	zip_code int
)

Question:
What is the average longitude of stations that never had bike availability more than 10?

QPL Plan:
'''#1 = Scan Table [ station ] Output [ long , id ] ; #2 = Scan Table [ status ] Output [ station_id , bikes_available ] ; #3 = Aggregate [ #2 ] Output [ station_id , MAX(bikes_available) AS Max_bikes_available ] ; #4 = Filter [ #3 ] Predicate [ Max_bikes_available > 10 ] Output [ station_id ] ; #5 = Except [ #1 , #4 ] Predicate [ #4.station_id IS NULL OR #1.id = #4.station_id ] Output [ #1.long ] ; #6 = Aggregate [ #5 ] Output [ AVG(long) AS Avg_long ]'''


DB Schema:
create table document_types (
	document_type_code varchar
	document_description varchar
)
create table organisation_types (
	organisation_type varchar
	organisation_type_description varchar
)
create table organisations (
	organisation_id int
	organisation_type varchar
	organisation_details varchar
)
create table grants (
	grant_id int
	organisation_id int
	grant_amount decimal
	grant_start_date datetime
	grant_end_date datetime
	other_details varchar
)
create table documents (
	document_id int
	document_type_code varchar
	grant_id int
	sent_date datetime
	response_received_date datetime
	other_details varchar
)
create table projects (
	project_id int
	organisation_id int
	project_details varchar
)
create table research_outcomes (
	outcome_code varchar
	outcome_description varchar
)
create table research_staff (
	staff_id int
	employer_organisation_id int
	staff_details varchar
)
create table staff_roles (
	role_code varchar
	role_description varchar
)
create table project_outcomes (
	project_id int
	outcome_code varchar
	outcome_details varchar
)
create table project_staff (
	staff_id real
	project_id int
	role_code varchar
	date_from datetime
	date_to datetime
	other_details varchar
)
create table tasks (
	task_id int
	project_id int
	task_details varchar
	eg Agree Objectives varchar
)

Question:
From what date and to what date do the staff work on a project that has the most staff and has staff in a leader role?

QPL Plan:
'''#1 = Scan Table [ Project_Staff ] Output [ project_id ] ; #2 = Aggregate [ #1 ] GroupBy [ project_id ] Output [ project_id , countstar AS Count_Star ] ; #3 = TopSort [ #2 ] Rows [ 1 ] OrderBy [ Count_Star DESC ] Output [ project_id , Count_Star ] ; #4 = Scan Table [ Project_Staff ] Output [ project_id , date_from , date_to ] ; #5 = Join [ #3 , #4 ] Predicate [ #3.project_id = #4.project_id ] Output [ #4.date_to , #4.date_from ] ; #6 = Scan Table [ Project_Staff ] Predicate [ role_code = 'leader' ] Output [ date_to , role_code , date_from ] ; #7 = Union [ #5 , #6 ] Output [ #5.date_to , #5.date_from ]'''


DB Schema:
create table person (
	name varchar
	age int
	city varchar
	gender varchar
	job varchar
)
create table personfriend (
	name varchar
	friend varchar
	year int
)

Question:
What is the age of the friend of Zach with longest year relationship?

QPL Plan:
'''#1 = Scan Table [ PersonFriend ] Predicate [ year IS NOT NULL AND name = 'Zach' ] Output [ name , friend , year ] ; #2 = Top [ #1 ] Rows [ 1 ] Output [ friend ] ; #3 = Scan Table [ Person ] Output [ name , age ] ; #4 = Join [ #2 , #3 ] Predicate [ #2.friend = #3.name ] Output [ #3.age ]'''


DB Schema:
create table ship (
	Ship_ID int
	Name varchar
	Type varchar
	Built_Year real
	Class varchar
	Flag varchar
)
create table captain (
	Captain_ID int
	Name varchar
	Ship_ID int
	age int
	Class varchar
	Rank varchar
)

Question:
What types of ships have both ships that have Panama Flags and Malta flags?

QPL Plan:
'''#1 = Scan Table [ Ship ] Predicate [ Flag = 'Panama' ] Distinct [ true ] Output [ Flag , Type ] ; #2 = Scan Table [ Ship ] Predicate [ Flag = 'Malta' ] Output [ Flag , Type ] ; #3 = Intersect [ #1 , #2 ] Predicate [ #1.Type = #2.Type ] Output [ #1.Type ]'''


Now please complete the QPL Plan:

DB Schema:
create table stadium (
	Stadium_ID int
	Location varchar
	Name varchar
	Capacity int
	Highest int
	Lowest int
	Average int
)
create table singer (
	Singer_ID int
	Name varchar
	Country varchar
	Song_Name varchar
	Song_release_year varchar
	Age int
	Is_male char
)
create table concert (
	concert_ID int
	concert_Name varchar
	Theme varchar
	Stadium_ID int
	Year varchar
)
create table singer_in_concert (
	concert_ID int
	Singer_ID int
)

Question:
How many singers do we have?

QPL Plan:

In [ ]:
(pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'stadium_1.Singer'. (208) (SQLExecDirectW)")

In [11]:
df

,id,db_id,question,gold_qpl,gold_cte,pred_sql,correct,error
0,edd55d4ed905a820d6ca16947655a80dec3a03568e863d...,student_transcripts_tracking,What is the department description for the one...,#1 = Scan Table [ Departments ] Predicate [ de...,WITH Scan_1 AS ( SELECT department_description...,WITH Count_1 AS ( SELECT COUNT(*) AS Singer_Co...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
1,180b86428841fc7e75e3b1a8d8a95e2bf8b8b3b4b445be...,wta_1,How many different loser names are there?,#1 = Scan Table [ matches ] Distinct [ true ] ...,WITH Scan_1 AS ( SELECT DISTINCT loser_name FR...,WITH Filter_1 AS ( SELECT COUNT(*) AS Count_St...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
2,c6bc5150c9983a750e71d9667f462c05d034560988d775...,cre_Doc_Template_Mgt,Show all template ids and number of documents ...,#1 = Scan Table [ Documents ] Output [ Templat...,WITH Scan_1 AS ( SELECT Template_ID FROM cre_D...,"WITH Scan_1 AS ( SELECT Singer_ID, Name, Count...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
3,a5a6fef561cf350fc2c0f61225c80048d3e41977999c3e...,world_1,What are the country codes of the different co...,#1 = Scan Table [ countrylanguage ] Output [ C...,"WITH Scan_1 AS ( SELECT CountryCode, Percentag...",WITH Cats AS (SELECT StuID FROM has_pet JOIN p...,False,"(pyodbc.ProgrammingError) ('42000', ""[42000] [..."
4,26edc7b34917846dc6fb176c89ec97752e591daa31f3fa...,world_1,Find the city with the largest population that...,#1 = Scan Table [ countrylanguage ] Predicate ...,"WITH Scan_1 AS ( SELECT CountryCode, Language ...","WITH CountPets AS (\n\tSELECT StuID, COUNT(*) ...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
5,72e0cde1414ecaa5cdc66b35b9cd074f48422ec83080c2...,wta_1,Find the year that has the most number of matc...,#1 = Scan Table [ matches ] Output [ year ] ; ...,WITH Scan_1 AS ( SELECT year FROM wta_1.matche...,WITH Scan_1 AS ( SELECT DISTINCT Maker FROM ca...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
6,4f42fde37cbd059904929409566173c2576d719495a3d5...,singer,Show different citizenship of singers and the ...,#1 = Scan Table [ singer ] Output [ Citizenshi...,WITH Scan_1 AS ( SELECT Citizenship FROM singe...,"WITH Scan_1 AS ( SELECT Id, Weight FROM cars_d...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
7,e3cddc01a42e6e4c8742e8b32c7081491e9ad65503bb88...,orchestra,How many conductors are there?,#1 = Scan Table [ conductor ] Output [ 1 AS On...,WITH Scan_1 AS ( SELECT 1 AS One FROM orchestr...,"WITH Max_Accelerate AS (\n\tSELECT Cylinders, ...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
8,dc9fa93cafe7bbc0200c3ea1a4db537478df1395d50ebe...,tvshow,which countries' tv channels are not playing a...,#1 = Scan Table [ TV_Channel ] Distinct [ true...,WITH Scan_1 AS ( SELECT DISTINCT Country FROM ...,"WITH Scan_1 AS ( SELECT Horsepower, Accelerate...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
9,b792df4f0b5acb59b2cc8ad354f46c20b196000a4a1ee8...,voter_1,"List the contestant numbers and names, ordered...",#1 = Scan Table [ contestants ] Output [ conte...,"WITH Scan_1 AS ( SELECT contestant_number, con...",WITH Scan_1 AS ( SELECT Country FROM airlines_...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
10,2836ab9eeb271d2e43877d422f9139f14d6978de070956...,flight_2,What is the airport code of the airport with t...,#1 = Scan Table [ airports ] Output [ AirportC...,WITH Scan_1 AS ( SELECT AirportCode FROM fligh...,WITH Scan_1 AS ( SELECT AirportName FROM airpo...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
11,33d486052fda33a467d56045245ac5652e2c7e0abde302...,network_1,What are the names of students who have no fri...,#1 = Scan Table [ Highschooler ] Distinct [ tr...,WITH Scan_1 AS ( SELECT DISTINCT name FROM net...,WITH UnitedFlights AS (\n\tSELECT COUNT(*) AS ...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
12,c08c23e7cc708242ee88a3d2b2b77fcc6eba87f5109376...,battle_death,What are the ids and names of the battles that...,"#1 = Scan Table [ battle ] Output [ id , name ...","WITH Scan_1 AS ( SELECT id, name FROM battle_d...",WITH Scan_1 AS ( SELECT DISTINCT Airline FROM ...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
13,3ea56ea638859870f74c819e5d8def86954d9136b038c6...,poker_player,What are the names of poker players in descend...,"#1 = Scan Table [ people ] Output [ Name , Peo...","WITH Scan_1 AS ( SELECT Name, People_ID FROM p...",WITH Scan_1 AS (SELECT COUNT(*) AS Employee_Co...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
14,ad1402fa95fd3fadae44e208dbad1503f63f97dff7c87d...,world_1,What is the total population and maximum GNP i...,#1 = Scan Table [ country ] Output [ Continent...,"WITH Scan_1 AS ( SELECT Continent, Population,...","WITH Scan_1 AS (\n\tSELECT Employee_ID, MAX(Bo...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
15,9891f13461359514e80f559cbff62c2204692fb32e2b85...,concert_singer,What are the names of the stadiums without any...,"#1 = Scan Table [ stadium ] Output [ Name , St...","WITH Scan_1 AS ( SELECT Name, Stadium_ID FROM ...","WITH Scan_1 AS (SELECT Document_ID, Document_N...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
16,92f7870d8e544dec954c41ef4da65daa4fb2cba5f0706f...,network_1,Give the name of the student with the most likes.,"#1 = Scan Table [ Highschooler ] Output [ ID ,...","WITH Scan_1 AS ( SELECT ID, name FROM network_...",WITH Templates_CTE AS (\n SELECT Template_I...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
17,6ea998f796ec30bffa8e18b93df295017492f935422901...,employee_hire_evaluation,Which shops' number products is above the aver...,#1 = Scan Table [ shop ] Output [ Number_produ...,WITH Scan_1 AS ( SELECT Number_products FROM e...,WITH Scan_1 AS ( SELECT Template_ID FROM templ...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
18,71de702627518d63a910bbd9bb7f366eddb8c5bd2464b7...,dog_kennels,How much does each charge type costs? List bot...,#1 = Scan Table [ Charges ] Output [ charge_am...,"WITH Scan_1 AS ( SELECT charge_amount, charge_...",WITH Scan_1 AS ( SELECT Document_ID FROM docum...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
19,5cf1353ac1891a373d83fb718050a23c6c0ec5d44a08d4...,network_1,What is Kyle's id?,#1 = Scan Table [ Highschooler ] Predicate [ n...,"WITH Scan_1 AS ( SELECT name, ID FROM network_...",WITH Scan_1 AS ( SELECT Document_ID FROM docum...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
20,4d616fdb35747a6d6392a417df2d25850f46e59e5970a9...,student_transcripts_tracking,How many transcripts are released?,#1 = Scan Table [ Transcripts ] Output [ 1 AS ...,WITH Scan_1 AS ( SELECT 1 AS One FROM student_...,WITH Join_1 AS (SELECT course_arrange.Teacher_...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
21,898c347eb5c12469a2246087c9e41c6d25d26c018c7d14...,student_transcripts_tracking,How many different degrees are offered?,#1 = Scan Table [ Degree_Programs ] Distinct [...,WITH Scan_1 AS ( SELECT DISTINCT degree_summar...,"WITH Scan_1 AS (\n SELECT visitor_ID, SUM(Tot...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
22,adf96d93299f5428237c3f5812145f2761590bac2baec9...,cre_Doc_Template_Mgt,"What are the ids, names, and descriptions for ...",#1 = Scan Table [ Documents ] Output [ Documen...,"WITH Scan_1 AS ( SELECT Document_Description, ...","WITH Scan_1 AS ( SELECT loser_id, loser_rank F...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
23,4f5e7016459adb9ad44e4ca87c1111a03cc59859b725f4...,poker_player,What is the money rank of the poker player wit...,#1 = Scan Table [ poker_player ] Output [ Mone...,"WITH Scan_1 AS ( SELECT Money_Rank, Earnings F...","WITH Scan_1 AS ( SELECT player_id, COUNT(*) AS...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
24,9e169afed9298dcaf606f723081977a0d33d4f22d10fc3...,world_1,Give the mean life expectancy of countries in ...,"#1 = Scan Table [ country ] Output [ Name , Li...","WITH Scan_1 AS ( SELECT Name, LifeExpectancy F...","WITH Aggregate_1 AS ( SELECT ranking_date, COU...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
25,6a735b312c65119564c18fa7ea1b10ecb2e74b7449a429...,employee_hire_evaluation,Which shop has the most employees? Give me the...,"#1 = Scan Table [ shop ] Output [ Shop_ID , Na...","WITH Scan_1 AS ( SELECT Shop_ID, Name FROM emp...","WITH Scan_1 AS ( SELECT caused_by_ship_id, SUM...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
26,1b4ff28beddb2e20b5b98772dc08dc31b033b25d3bb666...,concert_singer,Show the stadium name and capacity with most n...,"#1 = Scan Table [ stadium ] Output [ Name , Ca...","WITH Scan_1 AS ( SELECT Name, Capacity, Stadiu...",WITH DistinctDegrees AS (\n\tSELECT COUNT(DIST...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
27,6b56664c45bbe45ade08c28a7892035d10283d0f493698...,course_teach,Show names of teachers and the number of cours...,"#1 = Scan Table [ teacher ] Output [ Name , Te...","WITH Scan_1 AS ( SELECT Name, Teacher_ID FROM ...",WITH Scan_1 AS ( SELECT degree_program_id FROM...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
28,9561b97b13a187930d20fc2c295e7c02162337366bbcd1...,singer,Show different citizenships and the maximum ne...,#1 = Scan Table [ singer ] Output [ Citizenshi...,"WITH Scan_1 AS ( SELECT Citizenship, Net_Worth...","WITH Scan_1 AS ( SELECT student_id, current_ad...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
29,2ae88df2c4162c1fe98dc4ae1452e2b0dfd06263c9a682...,pets_1,Find the id of students who do not have a cat ...,#1 = Scan Table [ Student ] Output [ StuID ] ;...,WITH Scan_1 AS ( SELECT StuID FROM pets_1.Stud...,"WITH Reverse_1 AS ( SELECT student_id, first_n...",False,"(pyodbc.ProgrammingError) ('42000', '[42000] [..."
30,61f7da4b5c699fa47aef91b666d0b11804b094b4fb440f...,poker_player,"What are the earnings of poker players, ordere...",#1 = Scan Table [ poker_player ] Output [ Earn...,WITH Scan_1 AS ( SELECT Earnings FROM poker_pl...,"WITH Scan_1 AS ( SELECT series_name, Content F...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
31,697dfd5ef5b2393132d9a7c62561764004455e1c985cc9...,singer,"For each citizenship, what is the maximum net ...",#1 = Scan Table [ singer ] Output [ Citizenshi...,"WITH Scan_1 AS ( SELECT Citizenship, Net_Worth...",WITH Scan_1 AS ( SELECT Air_Date FROM tv_serie...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
32,a2cf4e35c9235fe7fe8b7f23cd46ecbf8798764d9afd57...,cre_Doc_Template_Mgt,Show all document ids and the number of paragr...,#1 = Scan Table [ Paragraphs ] Output [ Docume...,WITH Scan_1 AS ( SELECT Document_ID FROM cre_D...,"WITH Filter_1 AS ( SELECT id, Pixel_aspect_rat...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
33,e630d361fd786cda956fb2025a82fdc0fa6c5815f97374...,car_1,Which model has the most version(make) of cars?,#1 = Scan Table [ car_names ] Output [ Model ]...,WITH Scan_1 AS ( SELECT Model FROM car_1.car_n...,WITH Scan_1 AS ( SELECT Name FROM poker_player...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
34,18f17add3885280a0a30c8986a4b02372b3efe4cc11524...,world_1,What is the total population and average area ...,#1 = Scan Table [ country ] Predicate [ Surfac...,"WITH Scan_1 AS ( SELECT Continent, Population,...","WITH Scan_1 AS ( SELECT Name, Birth_Date FROM ...",False,"(pyodbc.ProgrammingError) ('42000', '[42000] [..."
35,2c9124545e4b80beca6be6f312295f8cefc9dacdef86c6...,concert_singer,"What is the average, minimum, and maximum age ...",#1 = Scan Table [ singer ] Predicate [ Country...,"WITH Scan_1 AS ( SELECT Age, Country FROM conc...",WITH Scan_1 AS (SELECT DISTINCT area_code FROM...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
36,4ab4d8bcc47a07a29ea3496adc3b48879e72fe4cfc5f8a...,tvshow,Find the number of cartoons directed by each o...,#1 = Scan Table [ Cartoon ] Output [ Directed_...,WITH Scan_1 AS ( SELECT Directed_by FROM tvsho...,"WITH Scan_1 AS (SELECT Name, LifeExpectancy FR...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
37,4e761a9127f36296f20021c44a8cadca031a57c3bb317e...,wta_1,What are the country code and first name of th...,#1 = Scan Table [ players ] Output [ player_id...,"WITH Scan_1 AS ( SELECT player_id, country_cod...","WITH Scan_1 AS (SELECT CountryCode, COUNT(*) A...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
38,2d9d0cf37702e5dc6bca104899f8e9e4118cca15f96b64...,cre_Doc_Template_Mgt,How many templates do we have?,#1 = Scan Table [ Templates ] Output [ 1 AS On...,WITH Scan_1 AS ( SELECT 1 AS One FROM cre_Doc_...,WITH \n EnglishCities AS (\n SELECT ...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
39,867cde5170a26741ae4655d22fca0ab3bb8617a3498fc4...,wta_1,"Find the first name, country code and birth da...",#1 = Scan Table [ players ] Output [ birth_dat...,"WITH Scan_1 AS ( SELECT birth_date, player_id,...",WITH Scan_1 AS (SELECT DISTINCT CountryCode FR...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
40,2a1d61f34fe5ad0f7a58c53d75caa500a2803b2c6147c1...,network_1,Show ids of all students who do not have any f...,#1 = Scan Table [ Highschooler ] Output [ ID ]...,WITH Scan_1 AS ( SELECT ID FROM network_1.High...,"WITH Scan_1 AS ( SELECT Name, SurfaceArea FROM...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
41,473d7b41fadce5025b641f1cbfabfb4e0142a9cf4a8592...,car_1,How many continents are there?,#1 = Scan Table [ continents ] Output [ 1 AS O...,WITH Scan_1 AS ( SELECT 1 AS One FROM car_1.co...,"WITH Scan_1 AS (\n\tSELECT CountryCode, Langua...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
42,3682b3829c0ef3cdd72b77929881f34ffb80f004698e5f...,network_1,How many likes does Kyle have?,#1 = Scan Table [ Highschooler ] Predicate [ n...,"WITH Scan_1 AS ( SELECT name, ID FROM network_...",WITH Conductors AS (\n SELECT c.Name AS Condu...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
43,0ee950e67cdbf2bef9cf54225445cebf182b136e659200...,battle_death,What is the average number of injuries caused ...,#1 = Scan Table [ death ] Output [ injured ] ;...,WITH Scan_1 AS ( SELECT injured FROM battle_de...,WITH Scan_1 AS ( SELECT Orchestra_ID FROM cond...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
44,8376e9086290a914bac06f17b3d831a833daedaa3449db...,wta_1,find the number of distinct country codes of a...,#1 = Scan Table [ players ] Distinct [ true ] ...,WITH Scan_1 AS ( SELECT DISTINCT country_code ...,"WITH Scan_1 AS ( SELECT grade, COUNT(ID) AS Co...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
45,d63af966914473b096de571cad64b5b43edd5043e710af...,world_1,What is the total population of Gelderland dis...,#1 = Scan Table [ city ] Predicate [ District ...,"WITH Scan_1 AS ( SELECT District, Population F...","WITH Scan_1 AS (SELECT ID, name FROM highschoo...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
46,deabaedeb3981927bf1f396a795b435a3035bd61ca255b...,world_1,What are the country codes of countries where ...,#1 = Scan Table [ countrylanguage ] Predicate ...,"WITH Scan_1 AS ( SELECT CountryCode, Language ...","WITH Scan_1 AS (SELECT dog_id, age FROM dogs_3...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
47,6aa937ac96aa0f82051b2f20f694460c36d303d0182fbf...,orchestra,List the name of the conductor with the most y...,"#1 = Scan Table [ conductor ] Output [ Name , ...","WITH Scan_1 AS ( SELECT Name, Year_of_Work FRO...","WITH Scan_1 AS ( SELECT owner_id, SUM(cost_of_...",False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
48,9f6ea46405112628df6ab798bc562f0bebb75f5ea0d962...,car_1,How much does the car accelerate that makes am...,"#1 = Scan Table [ cars_data ] Output [ Id , Ac...","WITH Scan_1 AS ( SELECT Id, Accelerate FROM ca...",WITH Scan_1 AS ( SELECT MIN(age) AS Min_age FR...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."
49,3b794e094e7479a816e8818a7514d0e91bc737440da6b6...,concert_singer,What are the names of the singers and number o...,"#1 = Scan Table [ singer ] Output [ Name , Sin...","WITH Scan_1 AS ( SELECT Name, Singer_ID FROM c...",WITH Scan_1 AS ( SELECT owner_id FROM dogs_4.d...,False,"(pyodbc.ProgrammingError) ('42S02', ""[42S02] [..."

In [12]:
df.groupby('correct').count().sort_values('id', ascending=False)

         id  db_id  question  gold_qpl  gold_cte  pred_sql  error
correct
False    50     50        50        50        50        50     50

In [7]:
df_for_eval.groupby('answer').count().sort_values('id', ascending=False)

KeyError: 'answer'